---
layout: default
---

<div class="page clearfix" hub>    

    <!---------------------------------------------------------------------------------------------------->
    <!-- LEFT -->
    <!---------------------------------------------------------------------------------------------------->
    <div class="left">
        <div style="text-align: left;
                    font-size: 10rem;
                    font-family: monospace;
                    font-weight: 900;">Hub</div>

        <!---------------------------------------------------------------------------------------------------->
        <!-- 페이지 번호 -->
        <!---------------------------------------------------------------------------------------------------->
        <div class="pagination">
            {% if paginator.previous_page %}
                <a href="/index.html" class="previous"><i class="fa fa-angle-double-left"></i></a>
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous"><i class="fa fa-angle-left"></i></a>
            {% else %}
                <span class="previous disable"><i class="fa fa-angle-double-left"></i></span>
                <span class="previous disable"><i class="fa fa-angle-left"></i></span>
            {% endif %}
            <span class="page_number ">{{ paginator.page }}/{{ paginator.total_pages }}</span>
            {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path }}" class="next"><i class="fa fa-angle-right"></i></a>
                <a href="{{ site.baseurl }}/page{{ paginator.total_pages }}" class="next"><i class="fa fa-angle-double-right"></i></a>
            {% else %}
                <span class="next disable"><i class="fa fa-angle-right"></i></span>
                <span class="next disable"><i class="fa fa-angle-double-right"></i></span>
            {% endif %}
        </div>

        <!---------------------------------------------------------------------------------------------------->
        <!-- 포스트 목록 -->
        <!---------------------------------------------------------------------------------------------------->
        <ul>
            {% for post in paginator.posts %}
                <li>
                    <!-- 포스트 제목 -->
                    <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
                    <!-- 포스트 부제 -->
                    <div class="label-card"><i class="fa fa-key"></i>{{ post.meta }}</div>
                    <!-- 포스트 라벨 -->
                    <div class="label">
                        <div class="label-card"><i class="fa fa-calendar"></i>{{ post.date | date: "%F" }}</div>
                        <div class="label-card">{% if post.author %}<i class="fa fa-user"></i>{{ post.author }}{% endif %}</div>
                        <div class="label-card">{% include category.html %}</div>
                        <div class="label-card">{% include tag.html %}</div>
                    </div>

                <!-- 발췌와 read-all -->
                <!-- <div class="excerpt">
                    {{post.excerpt}}
                </div> -->
                <!-- <div class="read-all">
                    <a  href="{{ post.url | prepend: site.baseurl }}"><i class="fa fa-newspaper-o"></i>Read All</a>
                </div> -->
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script>