---
layout: default
---

<!-- <nav>
    Hub
</nav> -->
<div class="page clearfix" index 
    style="
        background-image: url(/img/camping.png);
        background-size: auto 75%;
        background-position: 90% 75%;"
    >
    <div class="left">
        <div class="left-title">Hub</div>
        <div class="pagination">
            {% if paginator.previous_page %}
                <a href="/index.html" class="previous"><i class="fa fa-angle-double-left"></i></a>
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous"><i class="fa fa-angle-left"></i></a>
            {% else %}
                <span class="previous disable"><i class="fa fa-angle-double-left"></i></span>
                <span class="previous disable"><i class="fa fa-angle-left"></i></span>
            {% endif %}
            <span class="page_number ">{{ paginator.page }}/{{ paginator.total_pages }}</span>
            {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path }}" class="next"><i class="fa fa-angle-right"></i></a>
                <a href="{{ site.baseurl }}/page{{ paginator.total_pages }}" class="next"><i class="fa fa-angle-double-right"></i></a>
            {% else %}
                <span class="next disable"><i class="fa fa-angle-right"></i></span>
                <span class="next disable"><i class="fa fa-angle-double-right"></i></span>
            {% endif %}
        </div>
        <ul>
            {% for post in paginator.posts %}
                <li onclick="location.href='{{ post.url | prepend: site.baseurl }}'">
                    <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
                    <div class="label-card">{{ post.meta }}</div>
                    <div class="label">
                        <div class="label-card"><i class="fa fa-calendar"></i>{{ post.date | date: "%F" }}</div>
                        <div class="label-card">{% if post.author %}<i class="fa fa-user"></i>{{ post.author }}{% endif %}</div>
                        <div class="label-card">{% include category.html %}</div>
                        <div class="label-card">{% include tag.html %}</div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% include widget.html %}
<script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script>