<!-- each category page -->
{% if page.type %}
<div class="archive">
  <div class="archive-banner">
    <div class="archive_category_link">
      <img src='../assets/img/category/{{ page.type | split: "-" | first }}.png'> 
    </div>

    <div class="archive_type">{{ page.type }}</div>
  </div>
  <ul>
    
    {% for category in site.categories %}
      {% assign cat_name = category | first %}
      {% assign cat_name_first = cat_name | split: "-" | first %}

      {% if cat_name_first != page.type %}
        {% continue %}
      {% endif %}

      <h1>{{ page.type }}</h1>
      <h2>{{ cat_name }}</h2>
      <h3>{{ cat_name.first}}</h3>
      <p>마따끄</p>

    {% endfor %}

  </ul>
</div>

<!-- main page -->
{% else %}
<div class="archive">
  {% for post in site.posts %}
  {% unless post.next %}
  <p class="archive_year">{{ post.date | date: '%Y' }}</p>
  {% else %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% capture nextyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
  {% if year != nextyear %}
  <p class="archive_year">{{ post.date | date: '%Y' }}</p>
  {% endif %}
  {% endunless %}
  <ul>
    <li>
      <time class='archive_date' datetime='{{ post.date | date_to_xmlschema }}'>
        {{ post.date | date: "%b %d" }}
      </time>
      <div class='archive_title'>
        <a href='{{ post.url | relative_url }}'>
          {{ post.title | escape }}
        </a>
      </div>
    </li>
  </ul>
  {% endfor %}
</div>
{% endif %}