<div class="categories">

  <!-- Post Nav -->
  {% if page.categories %}
    {% assign cat = page.categories[0] %}
    {% assign cat_list = site.categories[cat] %}
    <ul>
      {% for post in cat_list %}
        {% if post.url %}
          <li>
              <a href='{{ post.url | relative_url }}'>{{ post.title | escape }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

  <!-- Page Nav -->
  {% else %}
    <ul>
    {% for category in site.categories %}
      {% capture cat_name %}{{ category | first }}{% endcapture %}
      <li>
        <a href="{{ site.baseurl }}/categories/{{ cat_name }}" id="aa">
          <img src='../assets/img/category/{{ page.type | split: "-" | first }}.png'> 
          <div class="cat_name">{{ cat_name }}</div>
          <div class="cat_size">({{ category | last | size }})</div>
        </a>
      </li>
    {% endfor %}
    </ul>

  {% endif %}
</div>



