<div class="categories">

  <!-- Post Nav -->
  {% if page.categories %}
    {% assign cat = page.categories[0] %}
    {% assign cat_list = site.categories[cat] %}
    <ul>
      {% for post in cat_list %}
        {% if post.url %}
          <li>
              <a href='{{ post.url | relative_url }}'>{{ post.title | escape }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

  <!-- Page Nav -->
  {% else %}
    <ul>
    {% assign site_categories = site.categories | sort | reverse %}
    {% for category in site_categories %}
      {% capture cat_name %}{{ category | first }}{% endcapture %}
      <l1>히히</l1>
    {% endfor %}
    </ul>

  {% endif %}
</div>



