<header id="top">
    <div class="wrapper">

        <a href="{{ site.baseurl }}/" class="brand">{{ site.title }}</a>
        <small>{{site.brief-intro}}</small>

        <button class="menu" id="headerMenu"><i class="fa fa-bars"></i></button> <!--모바일 버튼-->
        <div class="nav-static" id="headerNav" style="float: left;">
            <button onclick="메뉴(2) "id="btnArchives"  >        <i class="fa fa-archive"></i></button>
            <button onclick="메뉴(3)" id="btnCategories">        <i class="fa fa-th-list"></i></button>
            <button onclick="메뉴(4)" id="btnTags"      >        <i class="fa fa-tags">   </i></button>
        </div>

        <div class="search">
            <input id="search-input" type="text" placeholder="Search">
        </div>
    </div>

    <div class="container">
        
        <div class="legend" id="legendSearch" style="display: none;">
            <ul class="legend-body" id="results-container"></ul>
        </div>

        <div class="legend" id="legendArchives" style="display: none">
            <ul class="legend-body">
              {% for post in site.posts %}
                {% unless post.next %}
                  <h2 id="y{{ post.date | date: '%Y' }}">{{ post.date | date: '%Y' }}</h2>
                {% else %}
                  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
                  {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
                  {% if year != nyear %}
                    <h2 id="y{{ post.date | date: '%Y' }}">{{ post.date | date: '%Y' }}</h2>
                  {% endif %}
                {% endunless %}
                <li onclick="location.href='{{ post.url | prepend: site.baseurl }}'">
                    <time>
                    {{ post.date | date:"%F" }}
                    <!-- {{ post.date | date: "%a" }}. -->
                    </time>
                    <a class="title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </li>
              {% endfor %}
            </ul>
        </div>

        <div class="legend" id="legendCategories" style="display: none">
            <ul class="legend-body">
                {% for category in site.categories %}
                <h2 id="{{category | first}}">{{category | first}}</h2>
                    {% for posts in category  %}
                        {% for post in posts %}
                            {% if post.url %}
                            <li onclick="location.href='{{ post.url | prepend: site.baseurl }}'">
                                <time>
                                {{ post.date | date:"%F" }}
                                <!-- {{ post.date | date: "%a" }}. -->
                                </time>
                                <a class="title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>

        <div class="legend" id="legendTags" style="display: none">
            {% capture tags %}
              {% for tag in site.tags %}
                {{ tag[0] }}
              {% endfor %}
            {% endcapture %}
            {% assign sortedtags = tags | split:' ' | sort %}
            <ul class="legend-body">
            {% for tag in sortedtags %}
              <h2 id="{{ tag }}">{{ tag }}</h2>
              {% for post in site.tags[tag] %}
              <li onclick="location.href='{{ post.url | prepend: site.baseurl }}'">
                    <time>
                    {{ post.date | date:"%F" }}
                    <!-- {{ post.date | date: "%a" }}. -->
                    </time>
                    <a class="title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </li>
              {% endfor %}
            {% endfor %}
            </ul>
        </div>
    </div>
</header>

<script src="{{ "/js/headerController.js " | prepend: site.baseurl }}" charset="utf-8"></script>
<script src="/js/jekyll-search.js" type="text/javascrit"></script>
<script type="text/javascript">
    SimpleJekyllSearch({
        searchInput: document.getElementById('search-input'),
        resultsContainer: document.getElementById('results-container'),
        json: '/search.json',
        searchResultTemplate: '<li><a href="{url}">{title}</a></li>',
        noResultsText: 'No results found',
        limit: 20,
        fuzzy: false,
        exclude: []
    })
</script>