{% if page.categories %}
  {% assign cat = page.categories[0] %}
  {% assign cat_list = site.categories[cat] %}
  <div class="post_archive">
    <p class="post_archive_type">{{ page.categories }}</p>
    <ol>
      {% for post in cat_list %}
        {% if post.url %}
          <li>
            <div class='post_archive_title'>
              <a href='{{ post.url | relative_url }}'>
                {{ post.title | escape }}
              </a>
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ol>
  </div>
{% endif %}