<div class="previousAndNext">
    {% if page.previous %}
        <button onClick="location.href='{{ page.previous.url | prepend: site.baseurl }}'" style="float: left; text-align: left;">
            <!-- &lt;&lt;&nbsp;&nbsp;{{ page.previous.title }} -->
            {{ page.previous.title }}
        </button>
    {% endif %}
    {% if page.next %}
        <button onClick="location.href='{{ page.next.url | prepend: site.baseurl }}'" style="float: right; text-align: right;">
            <!-- &gt;&gt;&nbsp;&nbsp{{ page.next.title }}; -->
            {{ page.next.title }};
        </button>
    {% endif %}
</div>
