<div class="post-recent">

    <div class="pre">
        {% if page.previous %}
            <button onClick="location.href='{{ page.previous.url | prepend: site.baseurl }}'">
                {{ page.previous.title }}
            </button>
        {% endif %}
    </div>

    <div class="nex">
        {% if page.next %}
            <button onClick="location.href='{{ page.next.url | prepend: site.baseurl }}'">
            <!-- href="{{ page.next.url | prepend: site.baseurl }}"> -->
                {{ page.next.title }}
            </button> 
        {% endif %}
    </div>
    
</div>
