<div class="post-recent">

    <div class="prenex">
        {% if page.previous %}
            <button style="text-align: left;" onClick="location.href='{{ page.previous.url | prepend: site.baseurl }}'">
                &lt;&lt;&nbsp;&nbsp;{{ page.previous.title }}
            </button>
        {% endif %}
    </div>

    <div class="prenex">
        {% if page.next %}
            <button style="text-align: right;" onClick="location.href='{{ page.next.url | prepend: site.baseurl }}'">
            <!-- href="{{ page.next.url | prepend: site.baseurl }}"> -->
                {{ page.next.title }}&gt;&gt;&nbsp;&nbsp;
            </button> 
        {% endif %}
    </div>
    
</div>
