<div class="profile">

    <!-- <a class="header_circle" href="{{ '/' | relative_url }}">
      <img src="{{ site.user.pic | relative_url }}" alt="{{ site.user.picAlt }}">
    </a> -->

    <span class="profile_name">{{ site.user.name }}</span>
    <span class="proflie_job">{{ site.user.job }}</span>
    <label class="theme_changer">
      <input theme_toggle type="checkbox">
      <div class="button"></div>
    </label>

    <!-- <span class="header_mes">{{ site.user.message }}</span> -->
</div>