/* 2. Archive
   ========================================================================== */

.archive {
    color: var(--archive_font);

    .archive-banner {
        margin: 0 1rem;
        padding: 1rem 0;
        border-bottom: 1px solid #ccc;

        .archive_category_link {
            min-width: 6rem;
            max-width: 6rem;
            border-radius: 50%;
            display: inline-block;
        }
    }

    ul {
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
        padding: 1rem;
        list-style: none;
        li {
            height: 1.5rem;
            line-height: 1.5rem;
            .archive-sub-title {
                display: inline-block;
                padding: 0 1rem;
                border-radius: 8px;
                background: var(--archive_title);
                color: white;
                font-size: 1rem;
            }
        }
        .archive-sub-ui {
            padding: 0.5rem 1rem;
            a {
                text-decoration: none;
                color: black;
                font-size: 0.8rem;
                font-weight: bold;
        
                &:hover,
                &:focus {
                    color: var(--archive_title_hover);
                }
            }
        }
    }

    @include breakpoint(medium) {
        min-height: calc(100vh - 8.5rem);
    }

    @include mobile-only {
        margin-top: 2rem;
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }
}

.archive_date {
    display: none;
    text-transform: uppercase;

    @include breakpoint(medium) {
        float: right;
    }
}

.archive_title {
    word-wrap: normal;

    @include breakpoint(medium) {
        max-width: 80%;
    }
}

.archive_type {
    color: var(--post_title);
    margin: 1rem 0 0;
    height: 2rem;
    line-height: 2rem;
    font-size: 2rem;
    font-weight: 900;
    font-family: "Noto Sans KR";
}

.archive_year {
    font-size: 1.2rem;
    margin-top: 1.4rem;
    margin-bottom: 0.6rem;
}

