/* 2. Archive
   ========================================================================== */

.archive {
    color: var(--archive_font);

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column-reverse;

        li {
            margin-bottom: 0.6rem;
        }
    }

    & a {
        text-decoration: none;
        color: var(--archive_title);

        &:hover,
        &:focus {
            color: var(--archive_title_hover);
        }
    }

    @include breakpoint(medium) {
        max-width: 40rem;
        margin-top: 5rem;
    }

    @include mobile-only {
        margin-top: 2rem;
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }
}

.archive_date {
    text-transform: uppercase;

    @include breakpoint(medium) {
        float: right;
    }
}

.archive_title {
    word-wrap: normal;
    @include breakpoint(medium) {
        max-width: 80%;
    }
}

.archive_type {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.archive_year {
    font-size: 1.2rem;
    margin-top: 1.4rem;
    margin-bottom: 0.6rem;
}

.post_archive {
    color: var(--archive_font);

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
        li {
            margin-bottom: 2px;
        }
    }

    & a {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-decoration: none;
        color: var(--post_title);
        font-size: 0.9rem;
        line-height: 0.9rem;

        &:hover,
        &:focus {
            color: var(--archive_title_hover);
        }
    }

    @include breakpoint(medium) {
        max-width: 40rem;
        text-align: left;
        padding: 0.5rem 0.5rem;
        margin-top: 1rem;
        border-top: 0.5rem solid white;
    }

    @include mobile-only {
        display: none;
    }

    &:hover {
        box-shadow: 0 0 10px var(--deep_shadow);
        outline: 2px solid var(--deep_shadow);
        border-top: 0.5rem solid var(--deep);
        cursor: pointer;
    }
}

.post_archive_title {
    word-wrap: normal;
    @include breakpoint(medium) {
        font-size: 0.9rem;
    }
}

.post_archive_type {
    color: var(--post_title);
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 0.5rem;
    font-family: 'Noto Sans KR';
}