/* 2. Archive
   ========================================================================== */

.archive {
    color: var(--archive_font);
    .archive-banner {
        display: flex;
        padding: 0 2.5rem;
        .archive_category_link {
            min-width: 10rem;
            max-width: 10rem;
            height: 10rem;
            box-shadow: 0 0 5px black;
            border-radius: 50%;
        }
    }

    ul {
        display: flex;
        flex-direction: column-reverse;
        float: right;
        width: calc(100% - 9rem);
        margin: 0;
        margin-top: -4rem;
        padding: 0px 6.5rem;
        list-style: none;
        li {
            margin-bottom: 0.6rem;
        }
    }

    & a {
        text-decoration: none;
        color: var(--archive_title);

        &:hover,
        &:focus {
            color: var(--archive_title_hover);
        }
    }

    @include breakpoint(medium) {
        min-height: calc(100vh - 8.4rem);
        max-width: 50rem;
        margin-top: 5rem;
    }

    @include mobile-only {
        margin-top: 2rem;
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }
}

.archive_date {
    text-transform: uppercase;

    @include breakpoint(medium) {
        float: right;
    }
}

.archive_title {
    word-wrap: normal;
    @include breakpoint(medium) {
        max-width: 80%;
    }
}

.archive_type {
    color: var(--post_title);
    margin: 1rem 0;
    padding: 0 2.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    font-size: 3.5rem;
    font-weight: 900;
    font-family: "Noto Sans KR";
}

.archive_year {
    font-size: 1.2rem;
    margin-top: 1.4rem;
    margin-bottom: 0.6rem;
}

.post_archive {
    color: var(--archive_font);

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
        li {
            margin-bottom: 2px;
        }
    }

    & a {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-decoration: none;
        color: var(--post_title);
        font-size: 0.9rem;
        height: 2rem;
        line-height: 2rem;
        padding: 0 0.5rem;

        &:hover,
        &:focus {
            color: var(--sublime_font);
            background-color: var(--archive_title_hover);
        }
    }

    @include breakpoint(medium) {
        max-width: 40rem;
        text-align: left;
        border-top: 2px outset;
    }

    @include mobile-only {
        display: none;
    }
}

.post_archive_title {
    word-wrap: normal;
    @include breakpoint(medium) {
        font-size: 0.9rem;
    }
}

.post_archive_type {
    color: var(--post_title);
    font-size: 2rem;
    font-weight: bold;
    height: 4.5rem;
    line-height: 4.5rem;
    margin: 0;
    font-family: 'Noto Sans KR';
}