aside { // nord-0 사용
    position: fixed; top: 0;
    width: calc(50% - 400px);
    min-width: 200px;
    max-width: 300px;
    height: 100vh;
    padding: 0;
    box-sizing: border-box;
    .wrap {
        width: 100%;
        height: 100%;
        .profile {  // 프로필
            width: auto;
            height: 250px;
            margin-bottom: 25px;
            padding: 30px;
            .profile-head {
                width: 125px;
                height: 125px;
                margin: 0 auto;
                border-bottom: 5px solid;
                border-radius: 50%;
                background-color: #D8DEE9;
                // background-color: #4C566A;
                text-align: center;
                font-size: 5em;
                cursor: pointer;
            }
            .profile-body {
                margin-top: 25px;
                text-align: center;
                font-size: 15px;
                font-weight: 700;
            }
            .profile-tail {
                margin-top: 5px;
                text-align: center;
                font-size: 15px;
                a {
                    margin: 0 10px;
                }
            }
        }
        .side {
            // max-height: 500px;
            box-sizing: border-box;
            font-family: monospace;
            -ms-word-break: break-all;
            word-break: break-all;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            .tocTitle {
                height: 75px;
                line-height: 75px;
                border-bottom: 1px solid #2E3440;
                color: #ECEFF4;
                text-align: center;
                font-size: 25px;
                font-weight: bold;
            }
            .content-ul {
                // max-height: 450px;
                margin: 0;
                margin-top: 10px;
                padding: 0;
                line-height: 2;
                font-weight: bold;
                list-style: none;
                overflow-y: auto;
                a {
                    display: block;
                    height: 25px;
                    line-height: 25px;
                    margin-top: 25px;
                    padding-left: 15px;
                    box-sizing: border-box;
                    color: Gold;
                    font-size: 18px;
                    font-weight: normal;
                    font-family: "D2coding";
                    transition: 0.5s ease;
                    &:hover {
                        background-color: #8FBCBB;
                    }
                }
                // h2
                ul {
                    padding: 0;
                    list-style: none;
                    line-height: 1.5;
                    a {
                        margin: 0;
                        padding-left: 45px;
                        font-size: 15px;
                        color: White;
                    }
                    // h3
                    ul {
                        a {
                            padding-left: 75px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
aside {
    display: none;
}
}


// aside {
//     visibility: hidden;
//     // display: none;
//     position: fixed;
//     // z-index: 190;
//     float: none;
//     width: auto;
//     max-width: 95%;
//     padding: 0;
//     top: 125px;
//     right: 2.5%;
//     opacity: 0;
//     transform-origin: 100% 0;
//     transform: scale(0.1);
//     transition: 0.2s cubic-bezier(0.5, 0.1, 0.51, 1.38);
//     .side {
//         border: none;
//     }
// }
// .right-show {
//     z-index: 999;
//     visibility: visible;
//     opacity: 1;
//     transform: scale(1);
//     .side {
//         .content-ul{
//             margin-bottom: 0;
//             // >li:last-of-type{
//             //   margin-bottom: 16px;
//             // }
//         }
//     }
// }
// }