.highlight {
    max-height: 829px;
    line-height: 100%;
    margin: 0.5rem 0 1rem;
    letter-spacing: -1px;
    white-space: pre;
    overflow-x: auto;
    

    .hll    { background-color: var(--sublime_bg) }
    .err    { background-color: var(--sublime_bg); color: tomato; } /* Error */

    .c      { color: var(--sublime_comment) } /* Comment */
    .cm     { color: var(--sublime_comment) } /* Comment.Multiline */
    .cp     { color: var(--sublime_comment) } /* Comment.Preproc */
    .c1     { color: var(--sublime_comment) } /* Comment.Single */
    .cs     { color: var(--sublime_comment) } /* Comment.Special */

    .w      { color: var(--sublime_font) } /* Text.Whitespace */ // #ECEFF4
    .p      { color: var(--sublime_font)} /* Punctuation 문장 부호 */ 
    .kn     { color: var(--sublime_color_BLUE) } /* Keyword.Namespace */
    .k      { color: var(--sublime_color_RED) } /* Keyword */
    .kc     { color: var(--sublime_color_RED) } /* Keyword.Constant 상수*/
    .kd     { color: var(--sublime_color_RED) } /* Keyword.Declaration 선언 */ // ex: function, let, const
    .kp     { color: var(--sublime_color_RED) } /* Keyword.Pseudo */
    .kr     { color: var(--sublime_color_RED) } /* Keyword.Reserved 예악어*/
    .kt     { color: var(--sublime_color_RED) } /* Keyword.Type 타입*/
    .o      { color: var(--sublime_color_RED) } /* Operator */
    .ow     { color: var(--sublime_color_RED) } /* Operator.Word */
    .nc     { color: var(--sublime_color_YELLOW) } /* Name.Class */
    .nf     { color: var(--sublime_color_YELLOW) } /* Name.Function */
    .nb     { color: var(--sublime_font) } /* Name.Builtin */ // int, bool, sum()함수명 등
    .n      { color: var(--sublime_font)} /* Name */
    .na     { color: var(--sublime_font)} /* Name.Attribute */
    .no     { color: var(--sublime_font)} /* Name.Constant */
    .nd     { color: var(--sublime_font)} /* Name.Decorator */
    .ni     { color: var(--sublime_font)} /* Name.Entity */
    .ne     { color: var(--sublime_font)} /* Name.Exception */
    .nl     { color: var(--sublime_font)} /* Name.Label */
    .nn     { color: var(--sublime_font)} /* Name.Namespace */
    .nx     { color: var(--sublime_font)} /* Name.Other */
    .py     { color: var(--sublime_font)} /* Name.Property */
    .nt     { color: var(--sublime_font)} /* Name.Tag */
    .nv     { color: var(--sublime_font)} /* Name.Variable */
    .bp     { color: var(--sublime_font)} /* Name.Builtin.Pseudo */
    .vc     { color: var(--sublime_font)} /* Name.Variable.Class */
    .vg     { color: var(--sublime_font)} /* Name.Variable.Global */
    .vi     { color: var(--sublime_font)} /* Name.Variable.Instance */
    .l      { color: var(--sublime_font)} /* Literal */
    .ld     { color: var(--sublime_color_GREEN) } /* Literal.Date */
    .s      { color: var(--sublime_color_GREEN) } /* Literal.String */
    .sb     { color: var(--sublime_color_GREEN) } /* Literal.String.Backtick */
    .sc     { color: var(--sublime_color_GREEN) } /* Literal.String.Char */
    .sd     { color: var(--sublime_color_GREEN) } /* Literal.String.Doc */
    .s2     { color: var(--sublime_color_GREEN) } /* Literal.String.Double */
    .se     { color: var(--sublime_color_GREEN) } /* Literal.String.Escape */
    .sh     { color: var(--sublime_color_GREEN) } /* Literal.String.Heredoc */
    .si     { color: var(--sublime_color_GREEN) } /* Literal.String.Interpol */
    .sx     { color: var(--sublime_color_GREEN) } /* Literal.String.Other */
    .sr     { color: var(--sublime_color_GREEN) } /* Literal.String.Regex */
    .s1     { color: var(--sublime_color_GREEN) } /* Literal.String.Single */
    .ss     { color: var(--sublime_color_GREEN) } /* Literal.String.Symbol */

    .m      { color: var(--sublime_color_PURPLE) } /* Literal.Number */
    .mf     { color: var(--sublime_color_PURPLE) } /* Literal.Number.Float */
    .mh     { color: var(--sublime_color_PURPLE) } /* Literal.Number.Hex */
    .mi     { color: var(--sublime_color_PURPLE) } /* Literal.Number.Integer */
    .mo     { color: var(--sublime_color_PURPLE) } /* Literal.Number.Oct */
    .il     { color: var(--sublime_color_PURPLE) } /* Literal.Number.Integer.Long */

    /* 제네릭 */ 
    .ge     { font-style: italic }  /* Generic.Emph */
    .gs     { font-weight: bold }   /* Generic.Strong */
    .gu     { color: tomato; }  /* Generic.Subheading & Diff Unified/Comment? */
    .gd     { color: var(--sublime_color_RED); }  /* Generic.Deleted & Diff Deleted */
    .gi     { color: var(--sublime_color_GREEN); }  /* Generic.Inserted & Diff Inserted */
}

.highlight::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #272727;
}

.highlight::-webkit-scrollbar-thumb {
    background-color: var(--sublime_font);
}