footer {
    position: fixed; bottom: 0; right: 0; left: 0;
    width: 1200px; height: 20px;
    margin: 0px auto;
    padding: 0 20px;
    text-align: center;
    font-size: 14px;
    color: #bbb;
    background-color: #2b2b3c;
    .contact {
        float: left;
        margin: 0 10px;
        a {
            color: #ccc;
            transition: 0.3s ease;
            &:hover {
                color: #fff;
            }
            i {
                margin: 0 5px;
            }
        }
    }
    .description {
        float: left;
        margin: 0 10px;
    }
    .power {
        float: right;
        margin: 0 10px;
        a {
            color: #8F90C5;
            transition: 0.3s ease;
            &:hover {
                color: #fff;
            }
        }
    }
}