/* 6. Footer
   ========================================================================== */

   .footer {
    height: 2.4rem;
    text-align: center;
    color: var(--footer_font);
    font-size: 0.7rem;

    a {
        text-decoration: none;
        color: var(--footer_font_a);
    }
}