/* 1. General
   ========================================================================== */

   * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    // font-size: 16px;
    @include scheme
}

html,
html.light {
    @include lightMode
}

html.dark {
    @include darkMode
}

@media (prefers_color: light),
(prefers_color: no-preference) {
    html {
        @include lightMode
    }

    html.dark {
        @include darkMode
    }
}

@media (prefers_color: dark) {
    html {
        @include darkMode
    }

    html.light {
        @include lightMode
    }
}

body {
    height: calc(100% - 2.5rem);
    font-weight: normal;
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Titillium Web', "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0;
    // background-color: var(--bg_color);
    background-color: var(--content_bg);
    transition: background-color 0.5s ease;
    background-size: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    @include breakpoint(medium) {
        zoom: 1;
    }
}

a {
    text-decoration: none;
}

img {
    // display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.content {
    margin: 0 auto;
    z-index: 0;
    // background: var(--content_bg);
    background: none;
    position: relative;
    min-height: 100vh;

    @include breakpoint(medium) {
        padding: 3.5rem 0 1.5rem;
    }

    @include mobile-only {
        padding-top: 16rem;
        min-height: 75%;
        // max-width: 92%;
    }
}

.main {
    @include breakpoint(medium) {
        max-width: 99rem;
        width: calc(100% - 10rem);
        height: calc(100vh - 5rem);
        margin: 0 auto;
        padding: 1.5rem 1.5rem;
        outline: 1px solid #ccc;
        overflow-x: scroll;
        column-width: 30rem;
        column-gap: 3rem;
        column-rule-color: #ccc;
        column-rule-style: dashed;
        column-rule-width: 1px;
    }

    @include mobile-only {
        padding: 0.5rem;
    }

    @media (max-width: 1200px) {
        column-width: auto;
    }

    // @media (max-width: 1200px) {
    //     width: 100%;
    // }
}

.aboutme {
    @include breakpoint(medium) {
        max-width: 40rem;
        margin-top: 5.5rem;

        img {
            float: none;
        }
    }
    }

    @include mobile-only {
        margin-top: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    

::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 0px;
    border-radius: 0;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.2);
}

.fourzerofour {
    text-align: center;
    font-size: 1.3rem;
    margin-top: 7rem;
}