header {
    position: fixed;
    float: left;
    width: 500px; height: 100vh;
    background-color: #000917;
    .wrapper {
        float: left;
        width: 50px;
        margin: 0 auto;
        .brand {
            font-size: 18px;
        }
        small {
            margin-left: 26px;
            font-size: 14px;
        }
        .menu{
            display: none;
        }
        nav {
            float: right;
            a {
                color: #9d9d9d;
                -webkit-transition: 0.2s ease;
                transition: 0.2s ease;
                &:hover {
                    color: #fff;
                }
            }
            button {
                width: 50px; height: 50px;
                margin: 5px;
                background-color: #000917;
                color: #9d9d9d;
                font-size: 30px;
                cursor: pointer;
                &:hover {
                    color: #fff;
                }
            }
            ul {
                font-size: 0;
                margin: 0;
                padding: 0;
                li {
                    width: 50px;
                    text-align: center;
                    list-style: none;
                    font-size: 14px;
                    display: inline-block;
                    -webkit-transition: 0.2s ease;
                    transition: 0.2s ease;
                    a {
                        display: flex;
                        flex-direction: row;
                        align-content: center;
                        justify-content: center;
                        padding-top: 20px;
                        height: 52px;
                        font-size: 30px;
                        &:hover {
                            color: #fff;
                        }
                        i {
                            margin-right: 5px;
                        }
                    }
                    >.active {
                        color: #fff;
                        background-color: #FFCC33;
                        // box-shadow: 0 25px 25px -15px rgba(255,255,255,0.93);
                    }
                }
            }
        }
    }
    .mid {
        position: relative;
        float: left;
        width: 450px; height: 100vh;
        color: WHITE;
        font-weight: bold;
        a {
            margin-right: 10px;
            float: left;
            color: #FFCC33;
            &:hover {
                background-color: #FFCC33;
                color: BLACK;
            }
        }
        .legend-button {
            width: 100%;
            text-align: center;
            display: inline-block;
            button {
                border: 1px solid #333;
                border-radius: 10px;
                width: 30%;
                margin: 5px;
                padding: 5px 10px;
                font-size: 1rem;
                font-family: D2coding;
                cursor: pointer;
                &:hover {
                    background-color: #FFCC33;
                    color: #fff;
                }
            }
        }
        .legend {
            // display: block;
            .legend-title {
                font-size: 3rem;
                text-align: center; 
            }
            .legend-body {
                height: 750px;
                overflow-y: scroll;
                overflow-x: hidden;
                line-height: 150%;
            }
            .legend-body::-webkit-scrollbar {
                display: none;
            }
        }
    }
    .mid::before {
        position: absolute;
        content: "";
        background-color: #000917;
        background-image: url(/img/eagle-5798326.png);
        background-position: 15%;
        background-repeat: no-repeat;
        background-size: auto 75%;
        opacity: 0.2;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: -1;
    }
}




// @media screen and (max-width:1200px) and (min-width: 770px) {
//     header {
//         height: 50px;
//         .wrapper {
//             width: 90%;
//             line-height: 50px;
//             .brand {
//                 font-size: 16px;
//             }
//             small {
//                 margin-left: 15px;
//                 font-size: 12px;
//             }
//             .menu{
//                 display: none;
//             }
//             nav {
//                 ul {
//                     li {
//                         a {
//                             padding: 0 8px;
//                             height: 50px;
//                             i {
//                                 margin-right: 4px;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
// @media screen and (max-width: 770px) {
//     header {
//         height: 48px;
//         margin-bottom: 15px;
//         .wrapper {
//             width: 95%;
//             margin: 0 auto;
//             line-height: 48px;
//             position: relative;
//             z-index: 101;
//             .brand {
//                 font-size: 16px;
//             }
//             small {
//                 margin-left: 10px;
//                 font-size: 12px;
//             }
//             .menu{
//                 display: inline-block;
//                 position: absolute;
//                 z-index: -102;
//                 right: 0;
//                 top:10px;
//                 padding: 5px 10px;
//                 background: #333;
//                 border: 1px solid #333;
//                 border-radius: 4px;
//                 color: #c9c9c9;
//                 font-size: 17px;
//                 -webkit-transition: 0.4s ease;
//                 transition: 0.4s ease;
//             }
//             >.active{
//                 background: #000;
//                 color: #fff;
//             }
//             .nav-show{
//                 visibility: visible;
//                 transform: scale(1);
//                 opacity: 1;
//             }
//             nav {
//                 position: absolute;
//                 z-index: 100;
//                 right:0;
//                 top:47px;
//                 text-align: center;

//                 visibility: hidden;
//                 transform-origin: 100% 0%;
//                 transform: scale(0.1);
//                 opacity: 0;
//                 transition: 0.2s cubic-bezier(0.5, 0.1, 0.51, 1.38);
//                 ul {
//                     background: #222;
//                     border-radius: 0 0 4px 4px;
//                     box-shadow: 0px 3px 4px 1px rgba(0,0,0,0.5);
//                     li {
//                         font-size: 14px;
//                         display: block;
//                         border-bottom: 1px solid #333;
//                         a {
//                             display: block;
//                             padding: 0 10px;
//                             height: 40px;
//                             line-height: 40px;
//                         }
//                         &:last-of-type{
//                             border: none;
//                         }
//                         >.active {
//                             color: #fff;
//                             background-color: #000;
//                             box-shadow: none;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
