header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    margin: 0px auto;
    z-index: 9;
    background: #ECEFF4;
    border-bottom: solid;
    .wrapper {
        display: flex;
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        padding: 0 10px;
        .nav-static {
            width: 50%;
            button {
                width: auto;
                height: 100px;
                margin: 0 20px;
                color: #4C566A;
                background: none;
                font-size: 30px;
                font-weight: bold;
                cursor: pointer;
                -webkit-transition: 0.2s ease;
                transition: 0.2s ease;
                &:hover {
                    color: #D8DEE9;
                }
            }
        }
        .search {
            width: 50%;
            // flex-grow: 1;
            input {
                display: inline-block;
                width: 100%;
                height: 40px;
                margin: 30px 0;
                padding: 12px 20px;
                border: 3px solid #4C566A;
                border-radius: 4px;
                box-sizing: border-box;
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
    .container {
        display: none;
        position: relative;
        float: right;
        width: 590px;
        height: auto;
        max-height: 256px;
        margin-top: -25px;
        margin-right: calc(50% - 590px);
        padding: 0;
        border: 3px solid #4C566A;
        box-sizing: border-box;
        background-color: #4C566A;
        color: WHITE;
        font-weight: bold;
        .legend {
            background-color: White;
            ul {
                height: auto;
                max-height: 250px;
                margin: 0px 0px;
                padding-left: 15px;
                overflow-y: scroll;
                overflow-x: hidden;
                font-weight: normal;
                color: black;
                font-size: 16px;
                line-height: 150%;
                list-style: none;
                h2 {
                    margin: 10px 5px 10px;  // override
                }
                li {
                    cursor: pointer;
                    a {
                        width: 100%;
                        margin-left: -15px;
                        padding-left: 15px;
                        float: left;
                        color: Black;
                        border-bottom: 1px dotted #5E81AC;
                        &:hover {
                            background-color: #5E81AC;
                            color: White;
                        }   
                    }
                    time {
                        margin: 0px 15px;
                        float: right;
                        color: #777;
                    }
                }
            }
            ul::-webkit-scrollbar {
                display: none;
            }
        }
    }
}
@media screen and (max-width:1200px) and (min-width: 770px) {
    header {
        width: 100%;
        .wrapper {
            nav > ul > a {
                padding: 0 8px;
                height: 50px;
                i {
                    margin-right: 4px;
                }
            }
        }
    }
}
@media screen and (max-width: 770px) {
    header {
        width: 100%;
        .wrapper {
            padding: 0 14px;
            position: relative;
            z-index: 101;
        }
        .container {
            width: 100%;
            margin: 0;
        }
    }
}
