/* 3. Header
   ========================================================================== */

.header {
    background: none;
    z-index: 1;
    position: absolute;
    top: 0;
    @include breakpoint(medium) {
        position: absolute;
        top: 3.5rem;
        left: max(5rem, calc((100% - 99rem) / 2));
        z-index: 1;
        
        width: 15rem;
        height: calc(100vh - 5rem);
        border-radius: 0 0 0 0.5rem;
        margin: 0;
        outline: 1px solid #ccc;
        background: #fafafa;
        text-align: left;
        overflow-y: auto;
    }
    @include mobile-only {
        width: 100%;
        height: 9rem;
    }
}

.header_content {
    font-family: 'Noto Sans KR';
    text-align: center;
    // @include breakpoint(medium) {
    //     position: fixed;
    // }
    @include mobile-only {
        position: absolute;
        margin-top: 3rem;
        width: 100%;
    }
}