body {
    >div {
        width: 100%; height: 100vh;
    }
    .hub-about {
        background-color: aquamarine;
    }
    .hub-demo {
        background-color: beige;
    }
    .hub-record {
        background-color: red;
    }
    .hub-more {
        background-color: brown;
    }
}
