body {
    .hub-page {
        width: 100%; height: 100vh;
        padding: 5% 20%;
    }
    #hub-about {
        text-align: center;
        .about-img {
            width: 500px; height: 500px;
            margin: auto;
            border: 5px solid WHITE;
            border-radius: 50%;
            background-image: url(/img/profile.jpg);
            background-repeat: no-repeat;
            background-position: left;
            background-size: auto 100%;
        }
        .about-title {
            padding-bottom: 20px;
            border-bottom: 2px solid BLACK;
            font-size: 4em;
            font-weight: bold;
        }
        .about-body {
            padding-top: 20px;
            font-size: 1em;
            img {
                width: 75%; height: auto; 
                margin-top: 20px;
            }
        }
    }
    #hub-demo {
        background-color: beige;
    }
    #hub-document {
        background-color: antiquewhite;
    }
    #hub-calendar {
        background-color: grey;
        .calendar-left {
            .calendar-ground {
                > ul {
                    border: 1px solid #333;
                    width: 350px;
                    margin: 0 auto;
                    > li {
                        width: 100%;
                        height: 50px;
                        > ul {
                            display: flex;
                            > li {
                                width: 50px;
                                height: 50px;
                                outline: 1px solid #ccc;
                            }
                        }
                    }
                }
            }
        }
    }

    .hub-side {
        position: fixed;
        top: 0px; right: 20px;
        width: 50px; height: 100vh;;
        padding: 250px 0;
        .hub-quick {
            width: 50px; height: 50px;
            border: 2px solid BLACK;
            border-radius: 50%;
            text-align: center;
            font-size: 2em;
            background-color: WHITE;
            font-size: 1.5em;
            cursor: pointer;
            &:hover {
                color: WHITE;
                background-color: BLACK;
            }
        }
        .hub-vertical {
            width: 10px; height: 5vh;
            margin: 0px 20px;
            background-color: black;
        }
    }
    &::-webkit-scrollbar {
        display: none;
    }
}
