.page[index] {
    background-image: url(/img/camping.png);
    background-repeat: no-repeat;
    background-size: auto 75%;
    background-position: center bottom;
    a {
        color: #333;
        transition: 0.5s ease;
        &:hover {
            color: #223253;
        }
    }
    .left {
        width: 100%; height: 100%;
        float: left;
        font-size: 16px;
        .left-title {
            text-align: center;
            font-size: 10em;
            font-family: fantasy;
            font-weight: 900;
        }
        >ul {
            width: 770px;
            margin: 0 auto;
            padding: 0;
            list-style: none;
            li {
                box-shadow: 0 0 10px 0 BLACK;
                margin: 20px 0;
                padding: 10px 20px;
                line-height: 150%;
                color: #333;
                cursor: pointer;
                -webkit-transition: 0.5s ease;
                transition: 0.5s ease;
                background: none;
                &:hover {
                    background: White;
                }
                h2 {
                    border: none;
                    font-size: 27px;
                    margin: 0;
                }
                .label {
                    overflow: hidden;
                    .label-card {
                        float: left;
                        margin-right: 15px;
                        i {
                            padding-right: 0;
                            margin-right: 3px;
                            color: #6b6a6a;
                        }
                    }
                    .categories {
                        padding: 0;
                    }
                }
            }
        }
        .pagination {
            text-align: center;
            .previous,
            .next {
                font-size: 20px;
                padding: 0 5px;
            }
            .page_number {
                padding: 0 5px;
            }
            .disable {
                color: #cbcbcb;
            }
        }
    }
}

@media screen and (max-width: 770px) {
    .page[index] {
        .left >ul {
            width: 100%;
            li {
                h2 {
                    font-size: 22px;
                }
                .excerpt {
                    h2 {
                        font-size: 20px;
                    }
                    h3 {
                        font-size: 18px;
                    }
                    h4 {
                        font-size: 16px;
                    }
                    li{
                        margin: 0;
                    }
                }
            }
        }
    }
}
