.page[indexNew] {
    // width: 1200px;
    // border: 3px solid #2b2b3c;
    a {
        // color: #4d6dad;
        color: #333;
        transition: 0.5s ease;
        &:hover {
            color: #223253;
        }
    }
    .left {
        width: 100%;
        float: left;
        font-size: 16px;
        .left-title {
            text-align: center;
            font-size: 8em;
            font-family: monospace;
            font-weight: 900;
        }
        >ul {
            width: 75%;
            margin: 0 auto;
            padding: 0;
            list-style: none;
            li {
                box-shadow: 0 0 10px 0 BLACK;
                margin: 20px 0;
                padding: 0 20px;
                color: #333;
                background-color: White;
                h2 {
                    border: none;
                    font-size: 27px;
                    margin: 0;
                }
                .label {
                    margin-bottom: 15px;
                    overflow: hidden;
                    .label-card {
                        float: left;
                        margin-right: 15px;
                        i {
                            padding-right: 0;
                            margin-right: 3px;
                            color: #6b6a6a;
                        }
                    }
                    .categories {
                        padding: 0;
                    }
                }
                .excerpt {
                    h2 {
                        font-size: 24px;
                    }
                    h3 {
                        font-size: 22px;
                    }
                    h4 {
                        font-size: 20px;
                    }
                }
                .read-all {
                    text-align: right;
                    font-size: 14px;
                    a {
                        color: #778ab0;
                        transition: 0.2s ease;
                        &:hover {
                            color: #5872a7;
                        }
                        i {
                            padding-right: 3px;
                        }
                    }
                }
            }
        }
        .pagination {
            text-align: center;
            .previous,
            .next {
                font-size: 20px;
                padding: 0 5px;
            }
            .page_number {
                padding: 0 5px;
            }
            .disable {
                color: #cbcbcb;
            }
        }
    }
    .mid {
        position: relative;
        width: 25%;
        height: 100vh;
        float: left;
        top: 0;
        padding-top: 20px;
        .legend-button {
            width: 100%;
            text-align: center;
            display: inline-block;
            button {
                border: 1px solid #333;
                border-radius: 10px;
                width: 30%;
                margin: 5px;
                padding: 5px 10px;
                font-size: 1rem;
                font-family: D2coding;
                cursor: pointer;
                &:hover {
                    background-color: #333;
                    color: #fff;
                }
            }
        }
        .legend {
            // display: block;
            .legend-title {
                font-size: 3rem;
                text-align: center; 
            }
            .legend-body {
                height: 750px;
                overflow-y: scroll;
                overflow-x: hidden
            }
            .legend-body::-webkit-scrollbar {
                display: none;
            }
        }
    }
    .mid::before {
        content: "";
        background-color: #000917;
        background-image: url(/img/eagle-5798326.png);
        background-position: 15%;
        background-repeat: no-repeat;
        background-size: auto 75%;
        opacity: 0.5;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: -1;
    }
    .right {
        display: none;
        width: 25%;
        float: right;
        padding-top: 20px;
        padding-left: 20px;
        top: 0;
        .wrap {
            .side {
                margin-bottom: 20px;
                padding-bottom: 0;
                .side-title {
                    text-align: center;
                    padding: 10px;
                    background: #777;
                    color: #fff;
                }
                i {
                    margin-right: 3px;
                }
                // 카테고리 ul
                .content-ul[cate] {
                    overflow: hidden;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li {
                        font-size: 14px;
                        a {
                            display: block;
                            width: 100%;
                            padding: 2px 0;
                            border-bottom: 1px solid #eee;
                            &:hover {
                                    
                                .badge {
                                    background-color: #dbdfee;
                                    transform: scale(1.2) rotate(360deg);
                                }
                            }
                            .name {
                                padding-left: 15px;
                            }
                            .badge {
                                display: block;

                                // width: 20px;
                                float: right;
                                text-align: center;
                                margin-right: 15px;
                                margin-top: 3px;
                                padding: 0 10px;
                                font-size: 12px;
                                color: #fff;
                                background-color: #bbb;
                                border-radius: 50%;
                                transition: 0.5s ease-in-out;
                            }
                        }
                        &:last-of-type a {
                            border: none;
                        }
                    }
                }
                // 최근 ul
                .content-ul[recent]{
                    padding-bottom: 16px;
                    li{
                        color:#aaa;
                        font-size: 14px;
                    }
                }
                .tags-cloud {
                    background-color: #f8f8fd;
                    font-weight: normal;
                    a {
                        padding: 0 3px;
                        border-radius: 5px;
                        &:hover {
                            background-color: #48D33A;
                        }
                    }
                }
            }
        }
    }

    .menu-hover {
        display: none;
        position: fixed;
        top: 0px;
        left: 50px;
        width: 30%;
        height: 100vh;
        background-color: black;
        opacity: 0.5;
    }
}
@media screen and (max-width: 770px) {
    .page[index] {
        .left>ul li {
            h2 {
                font-size: 22px;
            }
            .excerpt {
                h2 {
                    font-size: 20px;
                }
                h3 {
                    font-size: 18px;
                }
                h4 {
                    font-size: 16px;
                }
                li{
                    margin: 0;
                }
            }
        }
    }
}
