@import url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff');
@font-face { 
    font-family: 'yangjin'; 
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}
@font-face {
    font-family: 'D2Coding';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Vitro_core';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Vitro_core.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.information {
    width: 100%;
    margin: 30px auto 0;
    padding: 30px 0;
    // background: #4C566A;
    color: Black;
    text-align: center;
    .information-meta {
        font-size: 6em;
        font-weight: bold;
    }
    .information-title {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .information-label >.label-card {
        margin-bottom: 10px;
        a {
            color: Black;
        }
    }
}
@media screen and (max-width:1200px) and (min-width: 770px) {
    .information {
        width: 100%;
        border: none;
        .information-meta {
            font-size: 5em;
        }
        .information-title {
            font-size: 1em;
        }
    }
}
@media screen and (max-width: 770px) {
    .information {
        width: 100%;
        border: none;
        .information-meta {
            font-size: 4em;
        }
        .information-title {
            font-size: 1em;
        }
    }
}