.information {
    .information-meta {
        font-size: 3em;
        margin: 10px 0;
    }
    .information-title {
        font-size: 1em;
        margin-bottom: 5px;
        padding-left: 50px;
    }
    .information-label {
        padding-left: 50px;
        .label-card {
            a {
                color: inherit;
            }
        }
    }
}
// @media screen and (max-width:1200px) and (min-width: 770px) {
// .information {
//     left: calc(50% - 215px);
// }
// }
@media screen and (max-width: 770px) {
.information {
    width: 100%;
}
}