.information {
    width: 100%;
    padding: 10px;
    background-color: #151515;
    color: rgb(204, 204, 204);
    font-weight: bold;
    .information-meta {
        font-size: 5em;
        font-weight: bold;
        font-family: 'Vitro_core';
    }
    .information-title {
        font-size: 1em;
        margin-bottom: 5px;
    }
    .information-label >.label-card {
        margin-bottom: 5px;
        a {
            color: rgb(204, 204, 204);
        }
    }
}
@media screen and (max-width: 770px) {
    .information {
        width: 100%;
        border: none;
        .information-meta {
            font-size: 4em;
        }
        .information-title {
            font-size: 1em;
        }
    }
}