.phone {
    width: calc(100% - 1rem);
    height: 90vh;
    margin: 0.5rem auto 0;
    outline: 2px solid black;
    border-radius: 1rem;
    overflow-y: scroll;
    .phone_top {
        position: absolute;
        top: 2.5rem;
        left: 0;
    }
    .phone_bottom {
        position: absolute;
        bottom: 2.5rem;
        left: 0;
    }
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.movie_header {
    width: 100%;
    color: white;
    background: #fafafa;
    .header_search {
        width: 100%;
        height: 2.5rem;
        line-height: 5rem;
        background: black;
        text-align: center;
        input {
            width: calc(100% - 2rem);
            margin-top: 2rem;
            padding: 0.5rem 1rem;
            border: none;
            border-bottom: 2px solid white;
            background: none;
            color: white;
        }
    }
    .header_title {
        width: 100%;
        height: 40vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.5s ease;
        .header_title_1st {
            width: 100%;
            height: 125%;
            background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
        }
        .header_title_2nd {
            position: relative;
            margin-top: calc(-10rem - 10vh);
            width: 100%;
            height: 10rem;
            line-height: 16rem;
            padding-left: 8rem;
            background: linear-gradient(to top, #000, transparent);
            font-size: 2rem;
            font-weight: 900;
            color: transparent;
            -webkit-text-stroke: 2px white;
            &::before {
                content: attr(data-split);
                position: absolute;
                top: 0; left: 0;
                height: 50%;
                color: black;
                overflow: hidden;
            }
        }
        .header_title_3rd {
            position: relative;
            width: 6rem;
            height: 8rem;
            margin: -4rem auto 0 1rem;
            outline: 2px solid white;
            border-radius: 0.5rem;
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            overflow: hidden;
            transition: 0.5s ease;
            img {
                position: absolute;
                width: 100%;
            }
        }
        .header_title_4th {
            margin-top: -4rem;
            padding-left: 8rem;
            .header_info {
                height: 2rem;
                line-height: 2rem;
                color: black;
            }
            .header_tag_list {
                display: flex;
                padding: 0.25rem 0;
                height: 2rem;
                color: black;
                font-size: .9rem;
                font-weight: 100;
                .header_tag {
                    padding: 0 0.5rem;
                    height: 1.5rem;
                    line-height: 1.5rem;
                    margin-right: 0.5rem;
                    box-shadow: 0 0 2px black;
                    border-radius: 0.5rem;
                }
                .official { background: #ccc; }
                .custom { background-color: #ffcc33; }
            }
        }
    }
}

.movie_body {
    position: relative;
    width: 100%;
    height: 0;
    min-height: calc(50vh - 4rem);
    padding: 0.5rem;
    background: #fafafa;
    overflow-y: auto;
    z-index: -1;
    .body_box {
        width: 100%;
        height: 20rem;
        .title {
            font-size: 1.5rem;
        }
        .list {
            display: flex;
            overflow-x: auto;
            img {
                width: 6rem;
                height: 8rem;
            }
        }
    }
}

.display_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    background: black;
    color: white;
    text-align: center;
    font-size: 0.75rem;
    p {
        margin: 0;
    }
}