nav {
    position: sticky; top: 0;
    float: right;
    width: 100px;
    padding: 20px 10px;
    box-sizing: border-box;
    .wrapper {
        width: 100%;
        background-color: #ECEFF4;
    }
}

@media screen and (max-width:1200px) {
nav {
    display: none;
}
}