nav {
    position: sticky;
    top: 0;
    float: left;
    width: 70px;
    padding: 20px 10px;
    .wrapper {
        width: 100%;
        background-color: #ECEFF4;
    }
}

@media screen and (max-width:1200px) {
nav {
    display: none;
}
}