171717// Polar Night
$nord0  : #2E3440;
$nord1  : #3B4252;
$nord2  : #434C5E;
$nord3  : #4C566A;

// Snow Storm
$nord4  : #D8DEE9;
$nord5  : #E5E9F0;
$nord6  : #ECEFF4;

// Frost
$nord7  : #8FBCBB;
$nord8  : #88C0D0;
$nord9  : #81A1C1;
$nord10 : #5E81AC;

// Aurora
$nord11 : #BF616A;
$nord12 : #D08770;
$nord13 : #EBCB8B;
$nord14 : #A3BE8C;
$nord15 : #B48EAD;


$highlight-background   :#2D2D2D;
$highlight-foreground   :#f8f8f2;
$highlight-comment      :#999999;

$highlight-pink         :#F24784;

$highlight-red          :#FC4957;
$highlight-orange       :#EA9D53;
$highlight-yellow       :#FCBC28;
$highlight-teal         :#4BC997;
$highlight-green        :#50BD6A;

$highlight-aqua         :#4be6fa;

$highlight-cyan         :#4FC1E4;
$highlight-blue         :#637AFE;
$highlight-indigo       :#6775C4;
$highlight-purple       :#8E59D7;