@import url("//cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-full.css");

.clearfix:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}
.clearfix {
    *zoom: 1;
}
nav {
    display: none;
    width: 1200px; height: 20px;
    margin: 0 auto;
    border-left: 3px dotted #2b2b3c;
    border-right: 3px dotted #2b2b3c;
    background-color: Darkseagreen;
    text-align: center; // 임시
    font-size: 15px;
    font-weight: bold;
    z-index: 1;
    button {
        margin: 0 15px;
        background: none;
        font-weight: 900;
    }
}
.page {
    background-color: White;
    width: 1200px;
    // border-left: 3px dotted #2b2b3c;
    // border-right: 3px dotted #2b2b3c;
    margin: 0 auto;
    .left {
        float: left;
        width: calc(100% - 300px);
        padding: 20px 30px 0;
        font-size: 16px;
        a:not([title]){
            word-break: break-all;
        }
        ul {
            >h2 {
                margin-left: -40px;
                color: #6a6b6b;
            }
            li {
                line-height: 1.8;
                color: #888888;
                time {
                    display: inline-block;
                    width: 135px;
                }
                .title {                    // 그 Tags Categories Archives에 보이는거
                    font-weight: bold;
                    color: #333;
                    transition: 0.3s ease;
                    &:hover {               // 마우스 갖다대면 변하는 색
                        color: Darkcyan;
                    }
                }
                i {
                    margin-right: 5px;
                }
                .categories {
                    padding: 0 15px;
                    i {
                        color: #9e9d9d;
                    }
                    a {
                        padding: 0 5px;
                        background-color: #9e9d9d;
                        color: #fff;
                        font-size: 90%;
                        transition: 0.3s ease;
                        &:hover {
                            background-color: #b6b6b9;
                        }
                    }
                }
                .pageTag {
                    i {
                        color: #48D33A;
                    }
                    a {
                        // border: 1px solid #aaa;
                        padding: 0 5px;
                        background-color: #48D33A;
                        border-radius: 4px;
                        color: #fff;
                        font-size: 90%;
                        transition: 0.3s ease;
                        &:hover {
                            background-color: #c0ddc7;
                        }
                    }
                }
            }
        }
    }
    .anchor {
        display: block;
        visibility: visible;
        position: fixed;
        top: 76px;
        right: 2.5%;
        padding: 5px 10px;
        color: #333;
        font-size: 15px;
        background-color: #f8f8fd;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3), 0 0 30px rgba(10, 10, 0, 0.1) inset;
        opacity: 0.7;
        transition: 0.2s cubic-bezier(0.5, 0.1, 0.51, 1.38);
    aside {
        float: left;
        width: 300px;
        .wrap {
            position: fixed;
            width: 300px;
            .side {
                width: 100%;
                margin-top: 5vh;
                padding: 5vh 0;
                border-left: 3px inset;
                background-color: White;
                box-sizing: border-box;
                -ms-word-break: break-all;
                word-break: break-all;
                -webkit-hyphens: auto;
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                hyphens: auto;
                .tocTitle {
                    padding: 0 0 0 15px;
                    font-size: 18px;
                    font-weight: bold;
                    text-align: left;
                }
                .content-ul {
                    padding: 10px 10px 0px 35px;
                    overflow-y: auto;
                    line-height: 2;
                    font-size: 15px;
                    font-weight: bold;
                    /* list-style: upper-roman; */
                    ul {
                        list-style: none;
                        line-height: 1.5;
                        font-size: 12px;
                        font-weight: normal;
                        padding-left: 25px;
                        // padding-left: 0px;
                    }
                    a {
                        color: #333;
                        transition: 0.5s ease;
                        &:hover {
                            color: #fff;
                            // background-color: #48D33A; : 그 색깔
                            background-color: Darkcyan;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1200px) and (min-width: 770px) {
    nav {
        width: 100%;
        border: none;
    }
    .page {
        width: 100%;
        border: none;
    }
}
@media screen and (max-width: 770px) {
    nav {
        width: 100%;
        border: none;
    }
    .page {
        width: 100%;
        border: none;
        .left {
            width: 100%;
            float: left;
            padding: 10px 14px;
            font-size: 14px;
            >h1 {
                font-size: 25px;
                margin-bottom: -10px;
            }
            ul {
                padding-left: 20px;
                >h2 {
                    font-size: 20px;
                    margin-left: -20px;
                }
                li {
                    margin: 20px 0;
                    time {
                        display: block;
                        width: auto;
                    }
                    .title {
                        display: block;
                        font-size: 16px;
                    }
                    .categories {
                        font-size: 12px;
                        padding-left: 0;
                        padding-right: 10px;
                    }
                }
            }
        }
        // .anchor {
        //     display: block;
        //     visibility: visible;
        //     position: fixed;
        //     top: 76px;
        //     right: 2.5%;
        //     padding: 5px 10px;
        //     color: #333;
        //     font-size: 15px;
        //     background-color: #f8f8fd;
        //     box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3), 0 0 30px rgba(10, 10, 0, 0.1) inset;
        //     opacity: 0.7;
        //     transition: 0.2s cubic-bezier(0.5, 0.1, 0.51, 1.38);
        }
        .anchor-hide {
            opacity: 0;
            visibility: hidden;
        }
    }

    aside {
        visibility: hidden;
        // display: none;
        position: fixed;
        // z-index: 190;
        float: none;
        width: auto;
        max-width: 95%;
        padding: 0;
        top: 76px;
        right: 2.5%;
        opacity: 0;
        transform-origin: 100% 0;
        transform: scale(0.1);
        transition: 0.2s cubic-bezier(0.5, 0.1, 0.51, 1.38);
    }
    .right-show {
        z-index: 999;
        visibility: visible;
        opacity: 1;
        transform: scale(1);
        .side {
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3), 0 0 30px rgba(10, 10, 0, 0.1) inset;
            .content-ul{
                margin-bottom: 0;
                >li:last-of-type{
                  margin-bottom: 16px;
                }
            }
        }
    }
}
