.post_banner {
    position: absolute;
    top: 1.5rem;
    left: 5rem;
    z-index: 2;
    width: 25rem;

    height: calc(100vh - 3rem);
    padding: calc(50vh - 9rem) 0;
    outline: 1px solid #ccc;
    border-radius: 1rem 0 0 1rem;
    
    background: url(../img/title.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    text-align: center;
}

.post_category_img_wrapper {
    display: inline-block;
    width: 8rem;
    height: 8rem;
    box-shadow: 0 0 5px black;
    border-radius: 50%;
    background: white;

    img {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0.5rem;
    }
}

.post_information {
    width: 100%;
    height: 5.5rem;
    margin-top: 1.5rem;
    padding: 0;
    
    .post_title {
        height: 2rem;
        line-height: 2rem;
        margin: 0;
        padding: 0;
        
        color: white;
        font-size: 2rem;
        font-weight: 900;
        font-family: "Noto Sans KR";
        -webkit-text-stroke: 1px black;
        
        @include mobile-only {
            text-align: center;
            font-size: 1.5rem;
        }
    }
    .post_data {
        height: 1.5rem;
        line-height: 1.5rem;
        margin-top: 0.5rem;
        @include mobile-only {
            text-align: center;
            margin-top: -1rem;
            margin-bottom: 1rem;
        }
        .post_date {
            // color: var(--post_date);
            color: white;
            letter-spacing: -0.5px;
            line-height: 1;
        }
        .post_categories {
            line-height: 1;
            margin-left: 0.3rem;
            a {
                color: var(--nav_font);
                &:hover,
                &:focus {
                    color: var(--nav_font_hover);
                }
            }
        }
    }
}