/* 4. Post
   ========================================================================== */

   .post {
    color: var(--post_text);

    @include breakpoint(medium) {
        margin-top: 5rem;
    }

    @include mobile-only {
        margin-top: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.post_title {
    color: var(--post_title);
    margin: 1rem 0;
    line-height: 3.5rem;
    font-size: 3.5rem;
    font-weight: 900;
    font-family: "Noto Sans KR";

    @include mobile-only {
        text-align: center;
        font-size: 1.5rem;
    }
}

.post_data {
    margin-top: -0.5rem;
    margin-bottom: 5rem;

    @include mobile-only {
        text-align: center;
        margin-top: -1rem;
    }
}

.post_date {
    color: var(--post_date);
    letter-spacing: -0.5px;
    line-height: 1;
}

.post_categories {
    line-height: 1;
    margin-left: 0.3rem;

    a {
        color: var(--nav_font);

        &:hover,
        &:focus {
            color: var(--nav_font_hover);
        }
    }
}

.post_content {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--post_text);

    h1,
    h2 {
        font-family: 'Noto Sans KR';
        margin: 2rem 0 1rem;
    }

    h3 {
        font-family: 'Noto Sans KR';
        margin: 2rem 0 1rem;
        color: var(--post_h3);
    }

    h4 {
        margin-top: 2rem;
        margin-bottom: -.5rem;
        color: var(--post_h3);
    }

    p {
        font-family: 'Noto Sans KR';
        margin: 0;
        line-height: 1.5rem;
    }

    a {
        color: var(--post_link);
        &:hover,
        &:focus {
            color: var(--post_link_hover);
        }
    }

    // li {
    //     margin-bottom: 0.3rem;
    // }

    code {  // 백틱 코드
        color: black;
        font-family: -apple-system;
        padding: 0px 5px;
        border-radius: 5px;
        background: #ccc;
    }

    pre {
        margin: 0 !important;
        font-size: 13.5px;
        font-family: D2Coding, Monaco;
        color: white;
        word-wrap: break-word;
        overflow: auto;
    }

    pre code {  // 블록 코드
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none;
        background: none;
        font-weight: normal;
        line-height: 1.5;
        letter-spacing: 0;
        tab-size: 4;
        .rouge-table {
            display: table;
            width: 100%;
            height: auto;
            margin: 0;
            box-shadow: none;
            font-size: 100%;
            border-collapse: collapse;
            tr {
                background: black;
                .rouge-gutter {
                    width: 40px;
                    padding: 0.5rem 0;
                    background: #272727;
                    text-align: right;
                    .lineno {
                        width: 40px;
                        font-family: monospace;
                        color: #999;
                        border-right: 1px solid;
                        padding-right: 10px;
                    }
                }
                .rouge-code {
                    padding: 0.5rem 10px;
                    background: #272727
                }
            }
        }
    }

    .language-plaintext {
        .rouge-gutter {
            display: none !important;
        }
    }

    img {   
        margin: 0.5rem 0 1rem;
        box-shadow: 0 0 2px black;
    }

    hr {
        margin-top: 1rem;
        margin-bottom: 5rem;
        border: none;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    blockquote {
        margin: 0.5rem 0 1rem;
        padding: 0.5rem;
        outline: 2px solid var(--sublime_color_YELLOW);
        border-radius: 5px;
    }

    dfn {
        border-bottom: dashed 1px var(--job_font);
        padding: 0 0.2rem;
        font-style: normal;
        position: relative;
        &::after {
            content: attr(info);
            display: inline;
            position: absolute;
            top: 22px;
            left: 0;
            opacity: 0;
            width: 11rem;
            color: #fff;
            font-size: 13px;
            font-weight: 700;
            line-height: 1.5em;
            padding: 0.5rem 0.8rem;
            background: #064b4d;
            pointer-events: none;
            transition: opacity 200ms, top 200ms;
        }
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 12px;
            left: 20px;
            opacity: 0;
            width: 0;
            height: 0;
            border: solid transparent 5px;
            border-bottom-color: #064b4d;
            transition: opacity 200ms, top 200ms;
        }
        :hover::after,
        :hover::before {
            opacity: 1;
        }
        &:hover::after {
            top: 30px;
        }
        &:hover::before {
            top: 20px;
        }
    }

    // Custom
    em {
        // display: block;
        display: none;
        width: calc(100% + 20px);
        margin: -10px 0 10px -10px;
        padding: 5px 10px;
        box-shadow: 0 0 2px black;
        background: #272727;
        color: White;
        font-weight: 900;
        font-style: normal;
    }
    
    table {
        display: inline-block;
        overflow-x: auto;
        width: auto;
        max-width: 100%;
        height: auto;
        margin: 15px 0;
        box-shadow: 0 0 2px black;
        border-collapse: collapse;
        color: black;
        font-size: 90%;
        table-layout:fixed;
        thead {
            text-align: center;
        }
        tbody {
            text-align: left;
            color: Black;
            tr {
                &:nth-of-type(2n+1) {
                    background-color: #ECEFF4;
                }
                &:nth-of-type(2n) {
                    background-color: White;
                }
            }
        }
        th, td {
            padding: 0 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: keep-all;
        }
    }
}

// .post_comment {
//     margin-top: 8rem;
//     padding: 10px;
// }

#markdown-toc {
    position: fixed;
    left: calc(100% - 20rem);
    margin: 0;
    padding: 0;
    outline: 2px solid var(--post_link);
    border-radius: 5px;
    box-shadow: 0 0 10px grey;
    width: 19rem;
    line-height: 1.5rem;
    font-size: 0.9rem;
    overflow-y: auto;
    
    ul {
        padding: 0;
    }
    li {
        list-style: none;
    }
    a {
        display: block;
        height: 2rem;
        line-height: 2rem;
        box-sizing: border-box;
        transition: 0.5s ease;
        outline: 1px solid;
        font-family: 'Noto Sans KR';
        &:hover {
            color: var(--sublime_font);
            background-color: var(--post_link);
        }
    }
    >li >a {
        padding-left: 1rem;
    }
    >li >ul >li >a {
        padding-left: 2.5rem;
    }
    >li >ul >li >ul >li >a {
        padding-left: 4rem;
    }

    @media (max-width: 1200px) {
        position: relative;
        left: 0;
        width: 100%;
    }
}