@import url("//cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-full.css");

#markdown-toc {
    display: none;
}
.page[post] {
    .label {
        margin-top: 16px;
        overflow: hidden;

        .label-card {               // [작성자, 연도]
            // float: left;
            margin-right: 15px;
            // color: #ffcc33;

            .point {                // [정체불명]
                padding: 0 10px;
                color: #9d9d9d;
            }

            i {                     // [아이콘]
                padding-right: 5px;
                color: #6b6a6a;
                // color: #ccc;
            }
        }
    }

    a {                             // [카테고리, 태그]
        // color: #4d6dad;
        color: #333;
        // color: #33ccff;
        transition: 0.5s ease;
        &:hover {
            color: #fff;
            background-color: #4FC1E4;
        }
    }
    .left {
        ul {
            >h2 {
                color: #333;
            }
            li {
                color: #333;
                margin: 0;
            }
        }
        .post-recent {
            width: 100%;
            overflow: hidden;
            padding: 4px;
            .pre {
                width: 49%;
                float: left;   
                text-align: left;
            }
            .nex{
                width: 49%;
                float: right;
                text-align: right;
            }
            button {
                width: 100%;
                min-height: 45px;
                box-sizing: border-box;
                padding: 5px;
                background-color: #fff;
                border: 2px solid #4FC1E4;
                text-align: center;
                font-family: "D2coding";
                box-shadow: 0 0 4px 0px rgba(0,0,0,0.15);

                font-size: 1rem;
                cursor: pointer;
            }
            button:hover {
                background-color: #4FC1E4;
                // transform:scale(1.1)
                color: #fff
            }
        }
    }
    .right >post-recent {
        width: 100%;
        overflow: hidden;
        padding: 4px;
        .pre {
            width: 49%;
            float: left;   
            text-align: left;
        }
        .nex{
            width: 49%;
            float: right;
            text-align: right;
        }
        button {
            width: 100%;
            min-height: 45px;
            box-sizing: border-box;
            padding: 5px;
            background-color: #fff;
            border: 2px solid #4FC1E4;
            text-align: center;
            font-family: "D2coding";
            box-shadow: 0 0 4px 0px rgba(0,0,0,0.15);

            font-size: 1rem;
            cursor: pointer;
        }
        button:hover {
            background-color: #4FC1E4;
            // transform:scale(1.1)
            color: #fff
        }
    }
}

@media screen and (max-width: 770px) {
    .page[post] {
        .left {
            font-size: 15px;
            h2 {
                font-size: 24px;
            }
            h3 {
                font-size: 20px;
            }
            h4 {
                font-size: 18px;
            }
            h5 {
                font-size: 16px;
            }
            h6 {
                font-size: 15px;
            }
        }
    }
}
