/* 4. Post
   ========================================================================== */

.post {
    color: var(--post_text);

    @include breakpoint(medium) {
        min-height: calc(100vh - 8.4rem);
        margin-top: 5rem;
    }

    @include mobile-only {
        margin-top: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.post_content {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--post_text);
    border-top: 2px outset;

    h1 {
        font-family: 'Noto Sans KR';
        width: 20rem;
        margin: 1rem 0 -3rem -20rem;
        padding-left: 2.5rem;
    }

    h2 {
        font-family: 'Noto Sans KR';
        width: 20rem;
        margin: 1rem 0 -2.5rem -20rem;
        padding-left: 2.5rem;
    }

    h3 {
        font-family: 'Noto Sans KR';
        width: 20rem;
        margin: 1rem 0 -2.5rem -20rem;
        padding-left: 2.5rem;
        color: var(--post_h3);
    }

    h4 {
        margin-top: 2rem;
        margin-bottom: -.5rem;
        color: var(--post_h3);
    }

    p {
        font-family: 'Noto Sans KR';
        font-weight: 300;
        line-height: 1.5rem;
    }

    a {
        color: var(--post_link);
        &:hover,
        &:focus {
            color: var(--post_link_hover);
        }
    }

    // li {
    //     margin-bottom: 0.3rem;
    // }

    code {  // 백틱 코드
        padding: 0px 5px;
        border-radius: 5px;
        background: #d8d8d8;
        color: black;
        font-family: consolas;
        font-weight: 900;
    }

    pre {
        margin: 0 !important;
        font-size: 13.5px;
        font-family: consolas;
        color: white;
        word-wrap: break-word;
        overflow: auto;
    }

    pre code {  // 블록 코드
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none;
        background: none;
        font-weight: normal;
        line-height: 1.5;
        letter-spacing: 0;
        tab-size: 4;
        .rouge-table {
            display: table;
            width: 100%;
            max-width: 100%;
            height: auto;
            margin: 0;
            box-shadow: none;
            font-size: 100%;
            border-collapse: collapse;
            tr {
                background: black;
                .rouge-gutter {
                    width: 40px;
                    padding: 0.5rem 0;
                    background-color: var(--sublime_bg);
                    text-align: right;
                    .lineno {
                        width: 40px;
                        font-family: monospace;
                        color: #999;
                        border-right: 1px solid;
                        padding-right: 10px;
                    }
                }
                .rouge-code {
                    padding: 0.5rem 10px;
                    background-color: var(--sublime_bg);
                }
            }
        }
    }

    // there is no language
    .language-plaintext {
        .rouge-gutter {
            display: none !important;
        }
        .rouge-code {
            background-color: #eee !important;
            pre {
                color: black !important;
            }
        }
    }

    ul {
        margin: 1rem 0 2.5rem;
        p {
            margin: 0;
        }
    }

    ol {
        margin: 1rem 0 2.5rem;
        p {
            margin: 0;
        }
        li {
            list-style-type: disclosure-closed;
        }
    }

    img {   
        margin: 1rem 0 2.5rem;
    }

    hr {
        margin-top: 1rem;
        margin-bottom: 2.5rem;
        border: none;
        border-top: 1px solid rgba(0,0,0,0.2);
        border-bottom: 1px solid rgba(255,255,255,0.2);
        margin-left: -300px;
    }

    blockquote {
        margin: 1em 0 2.5rem;
        padding: 1em;
        background: #eee;
        border: 2px dashed #ccc;
        border-left: 5px solid #ffcc33;
        display: table;
        em {
            display: block;
            margin: 0px 0 20px -40px;
            padding: 5px 10px;
            font-size: 1.5rem;
            color: black;
            font-weight: 900;
            font-style: normal;
        }
        ul, ol {
            margin: 1rem 0 0;
        }
    }

    dfn {
        border-bottom: dashed 1px var(--job_font);
        padding: 0 0.2rem;
        font-style: normal;
        position: relative;
        &::after {
            content: attr(info);
            display: inline;
            position: absolute;
            top: 22px;
            left: 0;
            opacity: 0;
            width: 11rem;
            color: #fff;
            font-size: 13px;
            font-weight: 700;
            line-height: 1.5em;
            padding: 0.5rem 0.8rem;
            background: #064b4d;
            pointer-events: none;
            transition: opacity 200ms, top 200ms;
        }
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 12px;
            left: 20px;
            opacity: 0;
            width: 0;
            height: 0;
            border: solid transparent 5px;
            border-bottom-color: #064b4d;
            transition: opacity 200ms, top 200ms;
        }
        :hover::after,
        :hover::before {
            opacity: 1;
        }
        &:hover::after {
            top: 30px;
        }
        &:hover::before {
            top: 20px;
        }
    }

    // Custom


    u {
        display: block;
        margin: 0.5rem -2.5rem -0.5rem;
        padding: 5px 10px;
        font-weight: 900;
        font-style: normal;
        background-color: var(--sublime_font);
        box-shadow: 0 0 5px;
        text-decoration: none;
    }
    
    table {
        display: inline-block;
        overflow-x: auto;
        width: auto;
        max-width: 100%;
        height: auto;
        margin: 1rem 0 2.5rem;
        box-shadow: 0 0 2px black;
        border-collapse: collapse;
        color: black;
        font-size: 90%;
        table-layout: fixed;
        thead {
            text-align: left;
        }
        tbody {
            text-align: left;
            color: Black;
            tr {
                &:nth-of-type(2n+1) {
                    background-color: var(--sublime_font);
                }
                &:nth-of-type(2n) {
                    background-color: White;
                }
            }
        }
        th, td {
            padding: 0 0.5rem;
            outline: 1px solid #ccc;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: keep-all;
        }
        img {
            max-width: 100%;
            margin: 0;
        }
    }
}

.post_comment {
    padding-left: 2.5rem;
}

#markdown-toc {
    position: fixed;
    top: 3rem;
    left: min(calc(100% - 20rem), 1400px);
    width: 20rem;
    margin: 0;
    margin-left: max(calc(50% - 860px), 0px);
    padding: 0;
    font-size: 0.8rem;
    overflow-y: auto;
    border-top: 2px outset;
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        list-style: none;
    }
    a {
        display: block;
        height: 1.5rem;
        line-height: 1.5rem;
        box-sizing: border-box;
        transition: 0.5s ease;
        // outline: 1px solid;
        font-family: 'Noto Sans KR';
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: var(--deep);
        &:hover {
            color: var(--sublime_font);
            background-color: var(--deep);
        }
    }
    >li >a {
        padding-left: 1rem;
    }
    >li >ul >li >a {
        padding-left: 2.5rem;
    }
    >li >ul >li >ul >li >a {
        padding-left: 4rem;
    }

    @media (max-width: 1200px) {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        border-top: none;
    }
}

.MathJax_Display {
    text-align: left !important;
    margin: 1em 2.5em;
}