.previousAndNext {
    // display: block;
    display: none;
    width: 430px;
    margin: 0px auto;
    margin-top: 5px;
    margin-bottom: 50px;
    padding: 5px 0;
    button {
        width: 200px;
        height: 18px;
        line-height: 18px;
        padding: 0 10px;
        box-sizing: border-box;
        background: none;
        text-align: left;
        font-weight: bold;
        cursor: pointer;
    }
    button:hover {
        font-size: 110%;
    }
}