// Polar Night
$nord0  : #2E3440;
$nord1  : #3B4252;
$nord2  : #434C5E;
$nord3  : #4C566A;

// Snow Storm
$nord4  : #D8DEE9;
$nord5  : #E5E9F0;
$nord6  : #ECEFF4;

// Frost
$nord7  : #8FBCBB;
$nord8  : #88C0D0;
$nord9  : #81A1C1;
$nord10 : #5E81AC;

// Aurora
$nord11 : #BF616A;
$nord12 : #D08770;
$nord13 : #EBCB8B;
$nord14 : #A3BE8C;
$nord15 : #B48EAD;

@import url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff');

body,
html,
div,
header,
footer,
nav,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}
html {
    height: 100%;
}
body {
    // font-family: 'Helvetica Neue',Helvetica,Arial,'Microsoft YaHei',sans-serif;
    font-family: Helvetica, Arial;
    background-color: $nord6;
    color: $nord3;
    // background-image: url(https://gw.alicdn.com/tfs/TB1xzbUumBYBeNjy0FeXXbnmFXa-125-121.png);
    // background-image: url("/img/pt_woven.png");
    position: relative;
    min-height: calc(100% - 50px);
    margin-top: 50px;       // header, nav
    // padding-bottom: 20px;   // footer
    // background-color: #f5f4f0;
}
a {
    text-decoration: none;
}
button {
    border: none;
    outline: none;
}
hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0px 200px;
}


///////////
// h1 {
//     font-size: 4em;
//     font-weight: bolder;
//     margin: 100px 0 10px;
//     background-color: #48D33A;
//     display: inline-block;
// }
h1 {
    font-size: 3em;
    font-weight: bolder;
    margin: 0 0 10px;
    border-bottom: 1px solid #333;
    // margin: 50px 0 25px;
}
h2 {
    font-size: 2em;
    font-weight: bold;
    margin: 50px 0 10px;
    // border-bottom: 1px solid #333;
    // margin: 50px 0 25px;
}
h3 {
    font-size: 23px;
    margin-top: 25px;
    // margin: 50px 0 20px;
}
h4 {
    font-size: 19px;
    margin: 30px 0 10px;
}
h5 {
    font-size: 17px;
    margin: 20px 0 10px;
}
h6 {
    font-size: 16px;
    margin: 10px 0 5px;
}

blockquote {    // 블록 1
    font-size: 0.8em;
    margin: 0 0 20px;
    padding: 10px 20px;
    border-left: 10px inset #ccc;
    background: #ccc;
    p:last-of-type{
        margin: 0;
    }
}
ol {            // 블록 2
    font-size: 0.8em;
    margin: 0 0 20px;
    padding: 10px 20px;
    border-left: 10px inset darkseagreen;
    background: darkseagreen;
    list-style: none;
    // p:last-of-type{
    //     margin: 0;
    // }
}

table {
    width: 100%;
    height: auto;
    margin: 8px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-collapse: collapse;
    table-layout: fixed;
    word-break: break-all;
    thead {
        border-bottom: 1px solid $nord3;
        background-color: $nord3;
        color: #fff;
    }
    th {
        padding: 2px 10px;
        color: #ECEFF4;
        text-align: left;
    }
    tbody {
        tr {
            &:nth-of-type(2n+1) {
                // background-color: #f8f8fd;
                background-color: White;
            }
            &:nth-of-type(2n) {
                background-color: $nord6;
            }
        }
    }
    td {
        padding: 2px 10px;
    }
}
p {
    // margin: 0 0 14px;
    margin: 14px 0;
}
img {
    max-width: 100%;
    // border-radius: 10px;
    
}
// strong {
//     font-size: 125%;
// }



u {
    display: block;
    height: 25px;
    line-height: 25px;
    margin: 30px 0 -14px;
    padding-left: 15px;
    /* border-radius: 10px 10px 0 0; */
    
    background-color: $nord3;
    color: #ECEFF4;
    text-decoration: none;
    border-top: 1px solid;
    font-size: 15px;
    // font-weight: 900;
}