@import url("//cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-full.css");

code {   /* <쪼그만 코드> */
    padding: 2px 5px;
    color: #333;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #333;
    border-bottom-width: 2px;
    box-shadow: inset 1px -1px 1px #f7f2f2, inset -1px 1px 1px #fffafa;
    font-weight: bolder;
    // font-family: Helvetica;
}

pre {   /* <커다란 블록> */
    // font-family: "D2coding";
    font-size: 15px;
    padding: 1em;
    background-color: #2D2D2D;
    border-radius: 20px;

    //  max-width: 800px;
    //  overflow-x: scroll !important;
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;      /* current browsers */

     > code {   /* <블록 내의 한 줄 한 줄> */
        margin: 0;
        padding: 0;
        font-size: 16.5px;
        color: #ECEFF4;
        border: none;
        background-color: #2D2D2D;
        font-weight: normal;
        line-height: 1.5;
        tab-size: 4;
        box-shadow: none;
        font-family: Monaco, Consolas, "Lucida Console", monospace;
        // font-family: Consolas;
     }
}


$highlight-background   :#2D2D2D;
$highlight-foreground   :#f8f8f2;
$highlight-comment      :#999999;

$highlight-pink         :#F24784;

$highlight-red          :#FC4957;
$highlight-orange       :#EA9D53;
$highlight-yellow       :#FCBC28;
$highlight-teal         :#4BC997;
$highlight-green        :#50BD6A;

$highlight-aqua         :#4be6fa;

$highlight-cyan         :#4FC1E4;
$highlight-blue         :#637AFE;
$highlight-indigo       :#6775C4;
$highlight-purple       :#8E59D7;

.highlight {
    white-space: pre;
    overflow-x: auto;
    // border-radius: 10px;
    margin: 0;
    line-height: 100%;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: -1px;
    background: #2D2D2D;
    .hll    { background-color: #2D2D2D }
    .err    { background-color: #2D2D2D; color: #960050 } /* Error */
    .w      { color: #ECEFF4 }    /* Text.Whitespace */
    .p      { color: #ECEFF4 } /* Punctuation 문장 부호 */ 

    /* 주석 */
    .c      { color: $highlight-comment } /* Comment */
    .cm     { color: $highlight-comment } /* Comment.Multiline */
    .cp     { color: $highlight-comment } /* Comment.Preproc */
    .c1     { color: $highlight-comment } /* Comment.Single */
    .cs     { color: $highlight-comment } /* Comment.Special */

    /* 연산자 */ 
    .o      { color: #81A1C1 } /* Operator */
    .ow     { color: #81A1C1 } /* Operator.Word */

    /* 키워드 */ 
    .k      { color: #81A1C1 } /* Keyword */
    .kc     { color: #81A1C1 } /* Keyword.Constant 상수*/
    .kd     { color: #81A1C1 } /* Keyword.Declaration 선언 */ // ex: function, let, const
    .kn     { color: #81A1C1 } /* Keyword.Namespace */
    .kp     { color: #81A1C1 } /* Keyword.Pseudo */
    .kr     { color: #81A1C1 } /* Keyword.Reserved 예악어*/
    .kt     { color: #81A1C1 } /* Keyword.Type 타입*/
    
    /* 이름 */ 
    .n      { color: #ECEFF4 } /* Name */
    .na     { color: #ECEFF4 } /* Name.Attribute */
    .nb     { color: #ECEFF4 } /* Name.Builtin */       // range
    .nc     { color: #ECEFF4 } /* Name.Class */
    .no     { color: #ECEFF4 } /* Name.Constant */
    .nd     { color: #ECEFF4 } /* Name.Decorator */
    .ni     { color: #ECEFF4 } /* Name.Entity */
    .ne     { color: #ECEFF4 } /* Name.Exception */
    .nf     { color: #ECEFF4 } /* Name.Function */
    .nl     { color: #ECEFF4 } /* Name.Label */
    .nn     { color: #ECEFF4 } /* Name.Namespace */
    .nx     { color: #ECEFF4 } /* Name.Other */
    .py     { color: #ECEFF4 } /* Name.Property */
    .nt     { color: #ECEFF4 } /* Name.Tag */
    .nv     { color: #ECEFF4 } /* Name.Variable */

    .bp     { color: #ECEFF4 } /* Name.Builtin.Pseudo */
    .vc     { color: #ECEFF4 } /* Name.Variable.Class */
    .vg     { color: #ECEFF4 } /* Name.Variable.Global */
    .vi     { color: #ECEFF4 } /* Name.Variable.Instance */

    /* 리터럴 */ 
    .l      { color: #ECEFF4 } /* Literal */
    .ld     { color: #A3BE8C }    /* Literal.Date */

    .m      { color: #B48EAD } /* Literal.Number */
    .mf     { color: #B48EAD } /* Literal.Number.Float */
    .mh     { color: #B48EAD } /* Literal.Number.Hex */
    .mi     { color: #B48EAD } /* Literal.Number.Integer */
    .mo     { color: #B48EAD } /* Literal.Number.Oct */

    .s      { color: #A3BE8C } /* Literal.String */
    .sb     { color: #A3BE8C } /* Literal.String.Backtick */
    .sc     { color: #A3BE8C } /* Literal.String.Char */
    .sd     { color: #A3BE8C } /* Literal.String.Doc */
    .s2     { color: #A3BE8C } /* Literal.String.Double */
    .se     { color: #A3BE8C } /* Literal.String.Escape */
    .sh     { color: #A3BE8C } /* Literal.String.Heredoc */
    .si     { color: #A3BE8C } /* Literal.String.Interpol */
    .sx     { color: #A3BE8C } /* Literal.String.Other */
    .sr     { color: #A3BE8C } /* Literal.String.Regex */
    .s1     { color: #A3BE8C } /* Literal.String.Single */
    .ss     { color: #A3BE8C } /* Literal.String.Symbol */
    
    .il     { color: #ae81ff } /* Literal.Number.Integer.Long */

    /* 제네릭 */ 
    .ge     { font-style: italic } /* Generic.Emph */
    .gs     { font-weight: bold } /* Generic.Strong */
    // .gh { } /* Generic Heading & Diff Header */
    .gu     { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
    .gd     { color: #f92672; } /* Generic.Deleted & Diff Deleted */
    .gi     { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */
}

.highlight::-webkit-scrollbar {
    height: 5px;
}
.highlight::-webkit-scrollbar-thumb {
    background-color: lightsteelblue;
}