/**
 * Syntax highlighting styles
 */
 
 @import url("//cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-full.css");

code {   /* <쪼그만 코드> */
    margin: 0 2px;
    padding: 1px 4px;
    font-size: 110%;
    line-height: 150%;
    border-radius: 3px;
    color: #000;
    background-color: rgba(0, 0, 0, 0.06);
    border: 1px solid #d7d0d2;


    white-space: pre;
    max-width: 850px; 
    max-height: 600px; 
    overflow: scroll !important;
    // font-family: Monaco,Menlo,"Microsoft YaHei Mono",Consolas,"Courier New",monospace,sans-serif;
}

pre {   /* <블록> */
    font-family: "D2coding";
    font-size: 15px;
    margin: 12px 0;
    padding: 8px 12px;
    //  overflow-x: auto;
     word-wrap: break-word;      /* IE 5.5-7 */
     white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
     white-space: pre-wrap;      /* current browsers */
     > code {   /* <코드블록> */
         margin: 0;
         padding: 0;
         font-size: 15px;
        color:#d1d1c9;
        border: none;
        background-color: #272822
     }
}


$highlight-background   :#1E1E1E;
$highlight-foreground   :#f8f8f2;
$highlight-comment      :#999999;

$highlight-pink         :#F24784;

$highlight-red          :#FC4957;
$highlight-orange       :#EA9D53;
$highlight-yellow       :#FCBC28;
$highlight-teal         :#4BC997;
$highlight-green        :#50BD6A;

$highlight-aqua         :#4be6fa;

$highlight-cyan         :#4FC1E4;
$highlight-blue         :#637AFE;
$highlight-indigo       :#6775C4;
$highlight-purple       :#8E59D7;


.highlight {
    border-radius: 3px;
    line-height: 100%;
    font-size: 15px;
    font-weight: 500px;
    letter-spacing: -1px;
    background: #272822;
    .hll { background-color: #272822; }
    .err { color: #960050; background-color: #1e0010 } /* Error */
    .w  { color: $highlight-foreground }    /* Text.Whitespace */
    .p { color: $highlight-foreground } /* Punctuation 문장 부호 */ 

    /* 주석 */
    .c { color: $highlight-comment } /* Comment */
    .cm { color: $highlight-comment } /* Comment.Multiline */
    .cp { color: $highlight-comment } /* Comment.Preproc */
    .c1 { color: $highlight-comment } /* Comment.Single */
    .cs { color: $highlight-comment } /* Comment.Special */

    /* 연산자 */ 
    .o  { color: $highlight-red } /* Operator */
    .ow { color: $highlight-red } /* Operator.Word */

    /* 키워드 */ 
    .k  { color: $highlight-red } /* Keyword */
    .kc { color: $highlight-red } /* Keyword.Constant 상수*/
    .kd { color: $highlight-red } /* Keyword.Declaration 선언 */ // ex: function, let, const
    .kn { color: $highlight-red } /* Keyword.Namespace */
    .kp { color: $highlight-red } /* Keyword.Pseudo */
    .kr { color: $highlight-cyan } /* Keyword.Reserved 예악어*/
    .kt { color: $highlight-red } /* Keyword.Type 타입*/
    
    /* 이름 */ 
    .n  { color: $highlight-foreground } /* Name */
    .na { color: $highlight-foreground } /* Name.Attribute */
    .nb { color: $highlight-foreground } /* Name.Builtin */
    .nc { color: $highlight-foreground } /* Name.Class */
    .no { color: $highlight-foreground } /* Name.Constant */
    .nd { color: $highlight-foreground } /* Name.Decorator */
    .ni { color: $highlight-foreground } /* Name.Entity */
    .ne { color: $highlight-foreground } /* Name.Exception */
    .nf { color: $highlight-foreground } /* Name.Function */
    .nl { color: $highlight-foreground } /* Name.Label */
    .nn { color: $highlight-foreground } /* Name.Namespace */
    .nx { color: $highlight-foreground } /* Name.Other */
    .py { color: $highlight-foreground } /* Name.Property */
    .nt { color: $highlight-foreground } /* Name.Tag */
    .nv { color: $highlight-foreground } /* Name.Variable */

    .bp { color: $highlight-foreground } /* Name.Builtin.Pseudo */
    .vc { color: $highlight-foreground } /* Name.Variable.Class */
    .vg { color: $highlight-foreground } /* Name.Variable.Global */
    .vi { color: $highlight-foreground } /* Name.Variable.Instance */

    /* 리터럴 */ 
    .l { color: $highlight-foreground } /* Literal */
    .ld { color: $highlight-yellow }    /* Literal.Date */

    .m  { color: $highlight-purple } /* Literal.Number */
    .mf { color: $highlight-purple } /* Literal.Number.Float */
    .mh { color: $highlight-purple } /* Literal.Number.Hex */
    .mi { color: $highlight-purple } /* Literal.Number.Integer */
    .mo { color: $highlight-purple } /* Literal.Number.Oct */

    .s  { color: $highlight-yellow } /* Literal.String */
    .sb { color: $highlight-yellow } /* Literal.String.Backtick */
    .sc { color: $highlight-yellow } /* Literal.String.Char */
    .sd { color: $highlight-yellow } /* Literal.String.Doc */
    .s2 { color: $highlight-yellow } /* Literal.String.Double */
    .se { color: $highlight-yellow } /* Literal.String.Escape */
    .sh { color: $highlight-yellow } /* Literal.String.Heredoc */
    .si { color: $highlight-yellow } /* Literal.String.Interpol */
    .sx { color: $highlight-yellow } /* Literal.String.Other */
    .sr { color: $highlight-yellow } /* Literal.String.Regex */
    .s1 { color: $highlight-yellow } /* Literal.String.Single */
    .ss { color: $highlight-yellow } /* Literal.String.Symbol */
    
    .il { color: #ae81ff } /* Literal.Number.Integer.Long */

    /* 제네릭 */ 
    .ge { font-style: italic } /* Generic.Emph */
    .gs { font-weight: bold } /* Generic.Strong */
    // .gh { } /* Generic Heading & Diff Header */
    .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
    .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
    .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */
}

