.widget {
    display: flex;
    position: fixed;
    top: 100px;
    right: calc(50% - 500px);
    img {
        width: 100px; height: 100px;
        border-radius: 50%;
        box-shadow: 0 0 5px 0;
        
        background-color: #85AD96;
        cursor: pointer;
    }
    .w-body {
        height: auto;
        margin: auto 0;
        margin-left: -20px;
        padding: 5px 5px 5px 25px;
        box-shadow: 0 0 5px 0;

        font-size: 90%;
        z-index: -1;
        .w-title {
            font-size: 1.25em;
            font-weight: bold;
        }
    }
}

@media screen and (max-width:1200px) and (min-width: 770px) {
    .widget {
        right: 100px;
    }
}

@media screen and (max-width: 770px) {
    .widget {
        display: none;
    }
}