<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sort</title>
    <link rel="stylesheet" href="bubble.css"> 
</head>
<body style="display: flex;">
  <main>
    <div class="wrap"></div>
  </main>
  <nav>
    <button id="bubble" onclick="bubble_sort(arr)">🍺</button>
    <button id="retry" onclick="retry()">Re</button>
  </nav>
</body>
<script src="bubble.js"></script>
</html>