--- 
# do not remove 
--- 

@import 'normalize';
@import 'flexible';
@import 'code_style';


/* 0. Variables
   ========================================================================== */

@mixin lightMode {
    --bg_color: #eee;
    --header_bg: #fafafa;
    --content_bg: #fff;
    --archive_font: #000;
    --archive_title: #46a891;
    --archive_title_hover: #87CDBD;
    --name_font: #FFAA00;
    --job_font: #003845;
    --nav_font: #8d7edc;
    --nav_font_hover: #D4CEF2;
    --shadow_color: rgba(160, 160, 160, 0.05);
    --post_title: #003845;
    --post_date: #003845;
    --post_text: #4c4c4c;
    --post_h3: #4c4c4c;
    --post_link: #46a891;
    --post_link_hover: #87CDBD;
    --inlinecode_text: #FFAA00;
    --blockquote: #333;
    --footer_font: #858585;
    --footer_font_a: #000;
    --border_radius: 15px;

}

@mixin darkMode {
    --bg_color: #1C1C1E;
    --header_bg: #24292E;
    --content_bg: #2F3437;
    --archive_font: #CACCCE;
    --archive_title: #46a891;
    --archive_title_hover: #87CDBD;
    --name_font: #FFAA00;
    --job_font: #CACCCE;
    --nav_font: #8d7edc;
    --nav_font_hover: #D4CEF2;
    --shadow_color: rgba(0, 0, 0, 1);
    --post_title: #46a891;
    --post_date: #e9ead7;
    --post_text: #CACCCE;
    --post_h3: #fff;
    --post_link: #8d7edc;
    --post_link_hover: #D4CEF2;
    --inlinecode_text: #FFAA00;
    --blockquote: #CACCCE;
    --footer_font_a: #d1d1d1;
    --border_radius: 1px;
}

@import 'general';
@import 'archive';
@import 'header';
@import 'post';
@import 'footer';