.site-tags {
  .tag-button {
    // show all
    @include clickable($text-color-3, $main-color-3, default, default, $text-color-2,$main-color-2, $text-color-2,$main-color-2);
    & > .tag-button__count {
      display: inline-block;
      margin-left: map-get($spacers, 1);
      font-size: map-get($base, font-size-xs);
      line-height: 1;
      vertical-align: top;
    }
  }
  /* 메모 : 태그 버튼 색깔 지정 */
  .tag-button-1 {
    @include clickable($text-color-1, rgba($main-color-1, .65), default, default, $text-color-2,$main-color-2, $text-color-2,$main-color-2);
  }
  .tag-button-2 {
    @include clickable($text-color-1, rgba($main-color-1, .75), default, default, $text-color-2,$main-color-2, $text-color-2,$main-color-2);
  }
  .tag-button-3 {
    @include clickable($text-color-1, rgba($main-color-1, .85), default, default, $text-color-2,$main-color-2, $text-color-2,$main-color-2);
  }
  .tag-button-4 {
    @include clickable($text-color-1, rgba($main-color-1, .95), default, default, $text-color-2,$main-color-2, $text-color-2,$main-color-2);
  }
}
