---
layout: page
<!-- titles:
  # @start locale config
  en      : &EN       Archive
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  归档
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  歸檔
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       BELFRY
  ko-KR   : *KO
  fr      : &FR       Archives
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR 
  fr-FR   : *FR
  fr-LU   : *FR
  # @end locale config -->
---

<div style="margin-bottom: 50px;    width: 100%;    height: 100%;">
  <div style="display: flex;">

    <div style="width: 20vh;    height: 20px;    border-radius: 0px;    margin: 0 auto;    background-color: #1E1E1E;    text-align: left;">
      <h3 style="color :white;    text-align: center;">Tags</h1>
    </div>
  
    <div>
      <form action="/search">
        <div class="tipue_search_right" style="width: 450px; height: 50px;">
          <input type="text" name="q" id="tipue_search_input" pattern=".{1,}" title="At least 1 characters" required>
        </div>
        <div style="clear: both;"></div>
      </form>
    </div>

    <div style="width: 20vh;    height: 50px;    border-radius: 0px 20px 20px 0px;    margin: 0 auto;    background-color: #1E1E1E;    text-align: left;">
      <h3 style="color :white;    text-align: center;">About</h1>
    </div>

  </div>

  <div>
    <br>
  </div>

  <div class="layout--archive js-all">
    <div">
      {%- include tags.html -%}
    </div>
    <div class="js-result layout--archive__result d-none">
      {%- include article-list.html articles=site.posts type='brief' show_info=true reverse=true group_by='year' -%}
    </div>
  </div>
</div>




<script>
  {%- include scripts/archieve.js -%}
</script>

{{ content }}
