---
layout: page
titles:
  # @start locale config
  en      : &EN       Archive
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  归档
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  歸檔
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       Tags
  ko-KR   : *KO
  fr      : &FR       Archives
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR 
  fr-FR   : *FR
  fr-LU   : *FR
  # @end locale config
---

<div style="display:flex">
  <div class="layout--archive js-all">
    {%- include tags.html -%}
    <div class="js-result layout--archive__result d-none">
      {%- include article-list.html articles=site.posts type='brief' show_info=true reverse=true group_by='year' -%}
    </div>
  </div>
  <div>
    <h1 id='함수종'>함수종</h1>
    <pre><code class='language-python' lang='python'>print(&quot;Hello World&quot;)
    </code></pre>
    <p>&nbsp;</p>
    <h1 id='b31l'>B31l</h1>
    <p><strong><a href='https://B31l.github.io'>My Github Blog</a></strong></p>
    <h3 id='❤github'>❤GitHub</h3>
    <ul>
    <li><a href='https://github.com/B31l/B31l' target='_blank' class='url'>https://github.com/B31l/B31l</a></li>
    <li><a href='https://github.com/B31l/B31l.github.io' target='_blank' class='url'>https://github.com/B31l/B31l.github.io</a></li>

    </ul>
    <h3 id='🧡works'>🧡Works</h3>
    <ul>
    <li><a href='https://github.com/B31l/previous-repository' target='_blank' class='url'>https://github.com/B31l/previous-repository</a></li>
    <li><a href='https://github.com/B31l/ShowVoca' target='_blank' class='url'>https://github.com/B31l/ShowVoca</a></li>
    <li><a href='https://github.com/B31l/Shooter' target='_blank' class='url'>https://github.com/B31l/Shooter</a></li>
    <li><a href='https://github.com/B31l/PWstorage' target='_blank' class='url'>https://github.com/B31l/PWstorage</a></li>

    </ul>
    <h3 id='💛projects'>💛Projects</h3>
    <ul>
    <li><a href='https://github.com/B31l/2021-InventGamesWithPython' target='_blank' class='url'>https://github.com/B31l/2021-InventGamesWithPython</a></li>
    <li><a href='https://github.com/B31l/Assignment' target='_blank' class='url'>https://github.com/B31l/Assignment</a></li>

    </ul>
  </div>
</div>


<script>
  {%- include scripts/archieve.js -%}
</script>

{{ content }}
