---
layout: page
<!-- titles:
  # @start locale config
  en      : &EN       Archive
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  归档
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  歸檔
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       BELFRY
  ko-KR   : *KO
  fr      : &FR       Archives
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR 
  fr-FR   : *FR
  fr-LU   : *FR
  # @end locale config -->
---

<div style="margin-bottom: 20px;">
  <div style="display: flex;">
    <div style="width:  20rem; border: 3px solid; margin: 20px auto; padding-left: 30px;>
      <div style="text-align: center; margin:0 auto;">
        <img src="https://raw.githubusercontent.com/B31l/B31l/main/Tea.jpg" style="width:100%; height:100%;">
      </div>
      <!-- <div>
        <ul>
          <li>Su Jong</li>
          <li>기타내용</li>
        </ul>
      </div> -->
    </div>
    <div style="width:  60rem; border: 3px solid; border-radius: 0px 20px 20px 0px; margin: 20px auto; padding-left: 30px; background-color: #1E1E1E;">
      <br>
      <h1 style="color: white;">BELFRY</h1>
      <br>
      <!-- <h3 id='💛github' style="color: White;">💛GitHub</h3>
      <ul>
      <li><a href='https://github.com/B31l/B31l' target='_blank' class='url'>https://github.com/B31l/B31l</a></li>
      <li><a href='https://github.com/B31l/B31l.github.io' target='_blank' class='url'>https://github.com/B31l/B31l.github.io</a></li> -->

      </ul>
      <h3 id='💛works' style="color: White;">💛Works</h3>
      <ul>
      <!-- <li><a href='https://github.com/B31l/previous-repository' target='_blank' class='url'>https://github.com/B31l/previous-repository</a></li> -->
      <li><a href='https://github.com/B31l/ShowVoca' target='_blank' class='url'>https://github.com/B31l/ShowVoca</a></li>
      <li><a href='https://github.com/B31l/Shooter' target='_blank' class='url'>https://github.com/B31l/Shooter</a></li>
      <li><a href='https://github.com/B31l/PWstorage' target='_blank' class='url'>https://github.com/B31l/PWstorage</a></li>

      <!-- </ul>
      <h3 id='💙projects' style="color: White;">💙Projects</h3>
      <ul>
      <li><a href='https://github.com/B31l/2021-InventGamesWithPython' target='_blank' class='url'>https://github.com/B31l/2021-InventGamesWithPython</a></li>
      <li><a href='https://github.com/B31l/Assignment' target='_blank' class='url'>https://github.com/B31l/Assignment</a></li> -->
      </ul>
      <br>
    </div>
  </div>
  <div>
    <br>
  </div>
  <!-- <div>
    <br>
    <hr style="height: 3px; background-color: #000" />
    <br>
  </div> -->

  <div class="layout--archive js-all">
    <div">
      {%- include tags.html -%}
    </div>
    <div class="js-result layout--archive__result d-none">
      {%- include article-list.html articles=site.posts type='brief' show_info=true reverse=true group_by='year' -%}
    </div>
  </div>

</div>


<script>
  {%- include scripts/archieve.js -%}
</script>

{{ content }}
