---
layout: default
---

<div class="page clearfix" post>
    <section>
        <h1>{{page.title}}</h1>
        <hr>
        {{content}}
    </section>
    <aside>
        <div class="wrap">
            <!-- Table Of Contents -->
            <div class="side content">
                <div>
                    <i class="fa fa-bars"></i>
                </div>
                <ul id="content-side" class="content-ul">
                </ul>
            </div>
        </div>
    </aside>
    <button class="anchor"><i class="fa fa-anchor"></i></button>
</div>


<!-- <script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script> -->
