<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  <div class="content">
    
    {% include header.html %}
    {% include categories.html %}

    <label class="theme_changer">
      <input theme_toggle type="checkbox">
      <div class="button"></div>
    </label>
    
    <div class="main-wrapper">
      <main class="main">
        {{ content }}
      </main>
    </div>

    {% include footer.html %}
  
  </div>
  {% include js.html %}
</body>
</html>
<script src="/assets/js/main.js"></script>