---
layout: default
---

<div class="page clearfix" post>
    
    <div class="left">
        <article itemscope itemtype="http://schema.org/BlogPosting">
        {{content}}
        </article>
        <hr>
        {% include previousAndNext.html %}
    </div>
    <button class="anchor"><i class="fa fa-anchor"></i></button>
    <div class="right">
        <div class="wrap">
            <!-- Content -->
            <div class="side content">
                <div class="front">
                    <div class="postTitle">
                        {{page.title}}
                    </div>
                    <div class="postSubtitle">
                        <div class="label-card">
                            {% if page.meta %}<i class="fa fa-key"></i>{{ page.meta }}  {% endif %}
                        </div>
                    </div>
                    <div class="label">
                        <div class="label-card">
                            <i class="fa fa-calendar"></i> {{ page.date | date: "%F" }}
                        </div>
                        <div class="label-card">
                        {% include category.html %}
                        </div>
                        <div class="label-card">
                        {% include tag.html %}
                        </div>
                    </div>
                </div>
                <div class=tocTitle>
                    Table Of Contents
                </div>
                <ul id="content-side" class="content-ul">
                    <!-- {% if hasSimilar.size > 0 %}
                    <li><a href="#similar_posts">Similar Posts</a></li>
                    {% endif %} -->
                    <!-- <li><a href="#comments">Comments</a></li> -->
                </ul>
            </div>
        </div>
    </div>
    <div class="nav">
        {% if page.previous %}
            <div class="nav-left">
                <button class="nav-button" onClick="location.href='{{ page.previous.url | prepend: site.baseurl }}'" >
                    <i class="fa fa-arrow-left"></i>
                </button>
            </div>
        {% endif %}
        {% if page.next %}
            <div class="nav-right">
                <button class="nav-button" onClick="location.href='{{ page.next.url | prepend: site.baseurl }}'">
                    <i class="fa fa-arrow-right"></i>
                </button> 
            </div>
        {% endif %}
    </div>

</div>
<script>
/**
 * target _blank
 */
(function() {
    var aTags = document.querySelectorAll('article a:not([id])')
    for (var i = 0; i < aTags.length; i++) {
        aTags[i].setAttribute('target', '_blank')
    }
}());
</script>
<script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script>
