---
layout: default
---

<nav>
    {{page.title}}
    {% if page.meta %}{{ page.meta }}{% endif %}
    {{ page.date | date: "%F" }}
    {% include category.html %}
    {% include tag.html %}
</nav>
<div class="page clearfix" post>
    <div class="left">
        <article itemscope itemtype="http://schema.org/BlogPosting">
        {{content}}
        </article>
        <hr>
        {% include previousAndNext.html %}
    </div>
    <button class="anchor"><i class="fa fa-anchor"></i></button>
</div>
<aside>
    <div class="wrap">
        <div class="side content">
            <div class=tocTitle>
                Table Of Contents
            </div>
            <ul id="content-side" class="content-ul">
                <!-- Contents -->
            </ul>
        </div>
    </div>
</aside>

<script>
// target _blank
(function() {
    var aTags = document.querySelectorAll('article a:not([id])')
    for (var i = 0; i < aTags.length; i++) {
        aTags[i].setAttribute('target', '_blank')
    }
}());
</script>
<script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script>