---
layout: page
---

<div class="post">

  <div class="post_banner">

    {% if page.categories %}
    {% for cat_name in page.categories %}
    <a class="post_category_link" href="{{ site.baseurl }}/categories/{{ cat_name }}" id="aa">
      <img style="padding: 1rem;" src="../assets/img/category/{{ cat_name }}.png"> 
    </a>
    {% break %}
    {% endfor %}
    {% endif %}

    <div class="post_information">
      {% if page.title %}
      <p class="post_title">{{ page.title }}</p>
      {% endif %}

      <div class="post_data">
        {% if page.date %}
          <span class="post_date">{{ page.date | date: "%b %-d, %Y" }}</span>
        {% endif %}
        {% if page.categories %}
          <span class="post_categories">
            &raquo;{% for cat_name in page.categories %}
              <a href="{{ site.baseurl }}/categories/{{ cat_name }}">{{ cat_name }}</a>
              {% if forloop.last == false %},
              {% endif %}
            {% endfor %}
          </span>
        {% endif %}
      </div>
    </div>

  </div>


  <div class="post_content">
    {{ content }}
  </div>

  {% if page.comment %}
  <div class="post_comment">
    {% include mathjax.html %}
    {% include disqus.html username = site.disqus.shortname %}
    {% include cusdis.html %}
    {% include giscus.html %}
  </div>
  {% endif %}

</div>

<style>
  .post_banner {
    display: flex;
    padding: 0 2.5rem;
    margin-bottom: 5rem;
  }
  .post_category_link {
    min-width: 10rem;
    max-width: 10rem;
    height: 10rem;
    box-shadow: 0 0 5px black;
    border-radius: 50%;
  }
  .post_information {
    padding: 0 2.5rem;
  }
  
</style>