---
layout: default
title: Archives
permalink: /ss/
icon: archive
type: page
---

<div class="page clearfix">
    <h1>Archive of posts with {{ page.type }} '{{ page.title }}'</h1>
    <button onclick="나(0)" id="buttonArchive" ><i class="fa fa-calendar"></i></button>
    <button onclick="나(1)" id="buttonCategory"><i class="fa fa-th-list" ></button>
    <button onclick="나(2)" id="buttonTag"     ><i class="fa-fa-tags"    ></button>

    <div class="left" id="legendArchive" style="display: block;">
        <div style="text-align: center; font-size: 4rem;">Archives</div>
        <ul>
            {% for post in site.posts %}
                {% unless post.next %}
                    <h2 id="y{{ post.date | date: '%Y' }}">{{ post.date | date: '%Y' }}</h2>
                {% else %}
                {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
                {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
                {% if year != nyear %}
                    <h2 id="y{{ post.date | date: '%Y' }}">{{ post.date | date: '%Y' }}</h2>
                {% endif %}
                {% endunless %}
                <li>
                    <time>
                    {{ post.date | date:"%F" }} {{ post.date | date: "%a" }}.
                    </time>
                    <a class="title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    {% include category.html %}
                    {% include tag.html %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="left" id="legendCategory" style="display: none;">
        <div style="text-align: center; font-size: 4rem;">Categories</div>
        <ul>
            {% for category in site.categories %}
            <h2 id="{{category | first}}">{{category | first}}</h2>
                {% for posts in category  %}
                    {% for post in posts %}
                        {% if post.url %}
                        <li>
                            <time>
                            {{ post.date | date:"%F" }} {{ post.date | date: "%a" }}.
                            </time>
                            <a class="title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>

                            {% include category.html %}
                            {% include tag.html %}
                        </li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
    <div class="left" id="legendTag" style="display: none;">
        <div style="text-align: center; font-size: 4rem;">Tags</div>
        {% capture tags %}
          {% for tag in site.tags %}
            {{ tag[0] }}
          {% endfor %}
        {% endcapture %}
        {% assign sortedtags = tags | split:' ' | sort %}
        <ul>
        {% for tag in sortedtags %}
          <h2 id="{{ tag }}">{{ tag }}</h2>
          {% for post in site.tags[tag] %}
            <li>
                <time>
                {{ post.date | date:"%F" }} {{ post.date | date: "%a" }}.
                </time>
                <a class="title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>

                {% include category.html %}
                {% include tag.html %}
            </li>
          {% endfor %}
        {% endfor %}
        </ul>
    </div>
    <button class="anchor"><i class="fa fa-anchor"></i></button>
</div>




<script>
    const legends = ['Archive', 'Category', 'Tag'];
    const 나 = (idx => {
        legends.forEach(Element => {
            document.getElementById(`legend${Element}`).style.display = "none";
            document.getElementById(`button${Element}`).style.color = "#9d9d9d";
        });
        document.getElementById(`legend${legends[idx]}`).style.display = "block";
        document.getElementById(`button${legends[idx]}`).style.color = "#48D33A";
    });
</script>
<script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script>