// $highlight-background   :#000;
// $highlight-foreground   :#eaeaea;
// $highlight-comment      :#969896;
// $highlight-red          :#d54e53;
// $highlight-orange       :#e78c45;
// $highlight-yellow       :#e7c547;
// $highlight-green        :#b9ca4a;
// $highlight-aqua         :#70c0b1;
// $highlight-blue         :#7aa6da;
// $highlight-purple       :#c397d8;
$highlight-background   :#1E1E1E;
$highlight-foreground   :#FFF;
$highlight-comment      :#a59680;
$highlight-red          :#FF3333;
$highlight-orange       :#FF9933;
$highlight-yellow       :#FFFF33;
$highlight-green        :#33FF99;
$highlight-aqua         :#33FFFF;
$highlight-blue         :#3399FF;
$highlight-purple       :#FF33FF;
// 메모 : 코드블럭 기본색 변경